{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true
  }
}