{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": 1,
    "prettier/prettier": "error",
    "react/prop-types": 0,
    "react/jsx-uses-vars": 1
  },
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "console": true,
    "event": true,
    "Promise": true,
    "setTimeout": true
  }
}
