@import "../pages/mixins.css";

/* FONTS */
/* importing via helmet.js isn't working ¯\_(ツ)_/¯ */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");

@font-face {
  font-family: Gilroy;
  src: url("/fonts/gilroy/Gilroy-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url("/fonts/gilroy/Gilroy-ExtraBold.otf");
  font-weight: 800;
}

html {
}

body {
  background-color: var(--near-black);
}

/*
Yantramanav -> var(--font-family-text)
font-family: 'Yantramanav', sans-serif;
light 300
regular 400
medium 500
bold 700

Gilroy -> var(--font-family-title)
font-family: 'Gilroy', sans-serif;
light 300
extrabold 800
*/

/* global classes */
@lost flexbox flex;
@lost gutter 32px;

.main-container {
  lost-flex-container: column;
  max-width: 100%;
  overflow-x: hidden;
}

.lost-1 {
  lost-column: 1;
}

.lost-1-2 {
  lost-column: 1/2 flex;
}

.lost-2-3 {
  lost-column: 2/3 flex;
}

.lost-1-3 {
  lost-column: 1/3 flex;
}

.lost-1-4 {
  lost-column: 1/4 flex;
}

.lost-row {
  lost-utility: clearfix;
}

/* Helpers profiles */
@each $theme in
  geo,
  countries,
  institutions,
  careers,
  products,
  industries {
  .color-$(theme) {
    color: var(--color-$(theme));
  }
  .border-$(theme) {
    border-color: var(--color-$(theme));
  }
  .fill-$(theme) {
    fill: var(--color-$(theme));
  }
  .background-$(theme) {
    background-color: var(--color-$(theme));

    /* interactions */
    &[class*=btn] {
      &:hover, &:focus {
        background-color: var(--color-$(theme)-light);
      }
    }
  }
}

.color-gray {
  color: var(--darker-gray);
}
.border-gray {
  border-color: var(--darker-gray);
}
.fill-gray {
  fill: var(--darker-gray);
}
.background-gray {
  background-color: var(--darker-gray);
}

/*color-geo: "#4B71B5"
color-countries: "#1ECBD8"
color-institutions: "#7777ED"
color-careers: "#E5C38D"
color-products: "#FF7474"
color-industries: "#2A8090"*/

.datachile-tooltip {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  background: var(--snow);
  border: 1px solid var(--near-black);
  font-family: var(--font-family-text);
  color: var(--near-black);
}

table.tooltip-table {
  width: 100%;
  & tr {
    & td {
      width: 50%;
      &.data {
        text-align: right;
      }
    }
  }
}


/* Buttons */
.btn {
  /* sizing */
  padding: 1.125em 2.25em;
  /* positioning */
  display: inline-block;
  /* typography */
  font-size: 14px;
  font-family: var(--font-family-title);
  text-transform: uppercase;
  text-align: center;
  /* theming */
  border-radius: 30px;
  color: var(--snow);
  /* transitions */
  transition: all 1s ease;
  transition-property: background-color, box-shadow;

  /* default theme */
  &:not([class*=background-]) {
    background-color: var(--accent);

    /* interactions */
    &:hover, &:focus {
      background-color: var(--color-geo-light);
    }
  }

  /* icon */
  & .btn-icon {
    position: relative;
    /* icon offset */
    left: 0.125em;
    margin-right: -0.25em;
    /* transitions */
    transition: transform 0.3s ease;
  }

  /* interactions */
  &:hover,
  &:focus {
    box-shadow: 0 1px 1.25em rgba(0, 0, 0, 0.25);
    color: var(--snow);
    text-decoration: none;
    /* padding-right: calc(var(--gutter)/3); */

    & .btn-icon {
      transform: translateX(0.25em);
    }
  }
}


/* D3+ overrides */

/* the inline style isn't working ¯\_(ツ)_/¯ */
.d3plus-textBox {
  & text {
    font-family: "Roboto Condensed" !important;
    font-weight: 300;
  }
}

/* position total */
.d3plus-viz-total {
  transform: translate(-3px, -5px);
}

/* override rotated labels for area charts */
/* .d3plus-Area-text .d3plus-textBox text {
  font-size: 18px !important;
} */


/* Utilities */

/* accessibly hidden text and elements */
.u-visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.u-text-center {
  text-align: center !important;
}

.u-btn-reset {
  background: none;
  border: none;
}
