@import "../pages/mixins";
/* importing via helmet.js isn't working ¯\_(ツ)_/¯ */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:300,300i,500|Source+Sans+Pro:400");

/* -----------------------------------
resets & quality of life improvements
----------------------------------- */

* {
  margin: 0;
  padding: 0;
}
/* usually necessary for responsive layouts */
img, svg, textarea {
  max-width: 100%;
}
/* border box default: http:/*www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* position:relative by default */
body * {
  position: relative;
}
/* hide the spinner on inputs with a type of "number" */
/* see https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* `display: none` can cause crashes */
  margin: 0; /* nuke the margin */
}
/* textareas can be resized, but only vertically */
textarea {
  resize: vertical;
}


/* -----------------------------------
fonts & base styles
----------------------------------- */

html {
  /* theming */
  background-color: var(--near-black);
  /* font scaling */
  font-size: 87.5%; /* 14px; override blueprint */

  /* scale up type on big screens */
  @add-mixin from-sm {
    font-size: 93.75%; /* 1rem = 15px */
  }
  @add-mixin from-md {
    font-size: 100%; /* 1rem = 16px */
  }
  @add-mixin from-lg {
    font-size: 106.25%; /* 1rem = 17px  */
  }
  @add-mixin from-xl {
    font-size: 112.5%; /* 1rem = 18px */
  }
  @add-mixin from-xxl {
    font-size: 125%; /* 1rem = 18px */
  }
}

body {
  /* typography */
  @add-mixin body-font; /* override blueprint */
  /* theming */
  color: var(--darker-gray);

  & * {
    color: inherit;
  }
}

/* headings */
h1, h2, h3, h4, h5, h6,
.heading {
  @add-mixin heading-font;
}

/* default font sizing and line-height */
.font-xxl        { @add-mixin font-xxl; }
h1, .font-xl     { @add-mixin font-xl;  }
h2, .font-lg     { @add-mixin font-lg;  }
h3, .font-md     { @add-mixin font-md;  }
h4, .font-sm     { @add-mixin font-sm;  }
h5, h6, .font-xs { @add-mixin font-xs;  }
small, .font-xxs { @add-mixin font-xxs; }

/* labels */
.label {
  @add-mixin body-font;
  @add-mixin font-uppercase;
}

/* subheads */
.subhead {
  @add-mixin heading-font;
  @add-mixin font-smoothing;
  @add-mixin font-uppercase;
}

/* default link style */
p > a,
li > a,
.link,
.d3plus-tooltip-body > a,
.datachile-tooltip > a {
  @add-mixin body-font-bold;
  color: var(--accent-light);
  /* override blueprint */
  text-decoration: underline;
  /* transitions */
  transition:
    color 0.25s ease-out,
    opacity 0.25s ease-out;

  &:hover, &:focus {
    color: var(--snow);
  }
}

/* white links; link class also required */
.inverted-link {
  color: var(--snow);

  &:hover, &:focus {
    color: var(--snow);
  }
}

/* -----------------------------------
grids
----------------------------------- */

/* lost config */
@lost flexbox flex;
@lost gutter var(--gutter);
@lost rounder 99.9999999;

.main-container {
  lost-flex-container: column;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.lost-1 { lost-column: 1; margin-top: 2rem;}
.lost-1-2 { lost-column: 1/2 flex; margin-top: 2rem;}
.lost-2-3 { lost-column: 2/3 flex; margin-top: 2rem;}
.lost-1-3 { lost-column: 1/3 flex; margin-top: 2rem;}
.lost-1-4 { lost-column: 1/4 flex; margin-top: 2rem;}
.lost-row { lost-utility: clearfix; }


/* -----------------------------------
profile theming
----------------------------------- */

@each $theme in
  geo,
  countries,
  institutions,
  careers,
  products,
  industries {
  .color-$(theme) {
    color: var(--color-$(theme)) !important;
  }
  .color-$(theme)-hover {
    &:hover, &:focus {
      color: var(--color-$(theme)) !important;
    }
  }
  .border-$(theme) {
    border-color: var(--color-$(theme)) !important;
  }
  .border-$(theme)-hover {
    &:hover, &:focus {
      border-color: var(--color-$(theme)) !important;
    }
  }
  .fill-$(theme) {
    fill: var(--color-$(theme));
  }
  .background-$(theme) {
    background-color: var(--color-$(theme)) !important;

    /* interactions */
    &[class*=btn],
    &[class*=category] {
      &:hover, &:focus {
        background-color: var(--color-$(theme)-light) !important;
      }
    }
  }
  .background-$(theme)-hover {
    &:hover, &:focus {
      background-color: var(--color-$(theme)-light) !important;
    }
  }
}

.color-gray {
  color: var(--darker-gray);
}
.border-gray {
  border-color: var(--darker-gray);
}
.fill-gray {
  fill: var(--darker-gray);
}
.background-gray {
  background-color: var(--darker-gray);
}

/*color-geo: "#4B71B5"
color-countries: "#1ECBD8"
color-institutions: "#7777ED"
color-careers: "#E5C38D"
color-products: "#FF7474"
color-industries: "#2A8090"*/


/* -----------------------------------
components
----------------------------------- */

/* tooltips */
/* TODO: standardize/refactor */
.datachile-tooltip {
  @add-mixin font-xs;
  text-align: center;
  padding: 10px;
  background: var(--snow);
  border: 1px solid var(--near-black);
  color: var(--near-black);
}

.d3plus-tooltip-body {
  @add-mixin body-font-bold;
  min-width: 160px;

  &, & > * {
    font-size: 0.625rem !important; /* font-xxs */
    line-height: 1.5;
  }
}

/* blueprint override */
.pt-popover-arrow path {
  fill: var(--snow) !important;
}
.pt-popover-content {
  @add-mixin font-xs;
  @add-mixin body-font;
  background: var(--snow) !important;
  color: var(--near-black) !important;

  /* reset margin */
  & *:last-child {
    margin-bottom: 0;
  }
}

table.tooltip-table {
  width: 100%;
  & tr {
    & td {
      width: 50%;
      &.data {
        text-align: right;
      }
    }
  }
}

/* blueprint overlay fixes */
.pt-overlay {
  z-index: 999;

  & > span {
    @add-mixin absolute-expand;
  }
}


/* tags */
.tag {
  display: inline-block;
  background-color: var(--pre-bg);
  padding: 0 0.5em;
  border-radius: 2px;
  text-shadow: none !important;

  &:not(:last-of-type) {
    margin-right: 0.5em;
  }
}


/* category link */
.category {
  /* typography */
  @add-mixin heading-font;
  text-transform: lowercase;
  text-decoration: none;
  white-space: nowrap;
  /* theming */
  background-color: var(--snow);
  border-radius: 1em;
  opacity: 0.625;
  /* sizing */
  padding: 0.125em 1em 0.25em 1em;
  /* transitions */
  transition: all 0.2s ease;
  transition-property: box-shadow, opacity;

  /* default color */
  &:not([class*=color-]) {
    color: var(--accent);
  }

  /* image right */
  & img,
  & svg {
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
    margin-left: -0.25em;
    top: -0.125em;
  }

  /* interactions */
  &:hover,
  &:focus {
    box-shadow: 0 1px 1.25em rgba(0, 0, 0, 0.25);
    opacity: 0.875;
    text-decoration: none;
  }
}


/* buttons */
.btn {
  /* typography */
  @add-mixin heading-font;
  @add-mixin font-uppercase;
  text-align: center;
  /* sizing */
  padding: 1.125em 2.25em;
  line-height: 1;
  /* positioning */
  display: inline-block;
  /* theming */
  border-radius: 30px;
  border: none;
  color: var(--snow);
  /* transitions */
  transition: all 1s ease;
  transition-property: background-color, box-shadow;

  /* default theme */
  &:not([class*=background-]) {
    background-color: var(--accent);

    /* interactions */
    &:hover, &:focus {
      background-color: var(--accent-light);
    }
  }

  /* icon */
  & .btn-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
    width: 1em;
    /* icon offset */
    top: -0.0625em; /* fudge into place */
    left: 0.125em;
    margin-right: -0.25em;
    /* transitions */
    transition: transform 0.3s ease;
  }

  /* interactions */
  &:hover,
  &:focus {
    box-shadow: 0 1px 1.25em rgba(0, 0, 0, 0.25);
    color: var(--snow);
    text-decoration: none;
    /* padding-right: calc(var(--gutter)/3); */

    &[href] .btn-icon {
      transform: translateX(0.25em);
    }
  }
}


/* -----------------------------------
D3plus overrides
----------------------------------- */

/* the inline style isn't working ¯\_(ツ)_/¯ */
.d3plus-textBox {
  & text {
    @add-mixin visualization-font;

    /* replace default dark color returned by colorContrast.js */
    &[fill="#444444"] {
      fill: var(--near-black);
    }
  }
}

/* override default theming for tooltips */
.d3plus-tooltip {
  color: var(--pre-bg);

  & a {
    color: var(--accent);
  }
}

/* position total */
.d3plus-viz-total {
  transform: translate(-3px, -5px);
}

/* style timeline */
.d3plus-viz-timeline {

  /* main horizontal bar line */
  & .bar {
    stroke: var(--medium-gray);
    opacity: 0.75;
  }

  /* vertical ticks */
  & .ticks {
    opacity: 0.75;

    & .d3plus-Rect {
      stroke: none;
      fill: var(--medium-gray);
    }
  }

  /* labels */
  & text {
    fill: var(--snow);
  }

  /* active tick */
  & .handle {
    /* increase click target */
    width: 10px;
    transform: translateX(-2px); /* offset width */
    /* theming */
    fill: var(--accent-light);
    rx: 4px;
    ry: 4px;
    /* transitions */
    will-change: x;
    transition: x 0.333s ease-out;
  }
}


/* -----------------------------------
utilities
----------------------------------- */

/* accessibly hidden text and elements */
.u-visually-hidden {
  @add-mixin visually-hidden;
}

.u-text-center {
  text-align: center !important;
}

.u-btn-reset {
  background: none;
  border: none;
  padding: 0;
}

.u-list-reset {
  @add-mixin list-reset;
}
