@import "../pages/mixins";

.splash-authorities {
  lost-flex-container: column;
  & .splash-authorities-president {
    lost-flex-container: row;
    justify-content: center;
    & .president {
      lost-center: 1/3;
    }
  }
  & .splash-authorities-senators {
    lost-flex-container: row;
    justify-content: center;
    & .senator {
      lost-column: 1/4;
    }
  }
  & .splash-authorities-mayor {
    lost-flex-container: row;
    justify-content: center;
    & .mayor {
      lost-center: 1/4;
    }
  }
  & .title {
    @add-mixin font-md;
    width: 100%;
    @add-mixin heading-font;
    text-align: center;
  }
}
