.custom-select.multi {
  & .target-option {
    display: block;
    padding: 0 0.5em;
    line-height: 2em;
    white-space: nowrap;
    cursor: default;

    &.active {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
