.geomap {


  /* fudge total into place */
  & .d3plus-viz-total {
    transform: translate(-5px, -5px);
  }

  /* adjust country stroke style */
  & .d3plus-Path {
    stroke: var(--near-black);
    stroke-width: 0.5px;
  }

  & #legend {
    position: absolute;
    bottom: 100px;
    height: 100px;
    left: 10px;
    right: 10px;
    width: 100%;
    /* background-color: var(--snow); */
    border: none;

    /* assign legend background color once content is loaded */
    &:not(:empty) {
      background-color: var(--near-black);
    }

    & text {
      fill: #fff !important;
    }

    & .d3plus-Rect-shape {
      & rect {
        stroke: none;
      }
    }

    & .ticks .d3plus-Line path {
      stroke: var(--gray-dark);
    }
  }
}
