@import "../pages/mixins";

.datasets {
  @add-mixin font-xs;
  position: relative;
  /* border: 1px solid #fff; */
  & table {
    & thead,
    & tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
    & thead {
      /* position: fixed;
      top: 0px; */
      & tr {
        & th {
          background-color: #4B71B5;
          color: #fff !important;
        }
      }
    }
    & tbody {
      display: block;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 480px;
      & tr:nth-child(even) {
        background-color: #424f76;
      }

      & tr:nth-child(odd) {
        background-color: #364063;
      }

      & td {
        border: 0px solid #fff !important;
        text-align: left;
        /* font-size: 0.70rem; */
      }
    }
  }
}
