.datasets {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
  border: 1px solid #fff;
  font-size: 0.80rem;
  & table {
    & thead {
      & tr {
        & th {
          background-color: #3e5c8a;
          color: #fff !important;
        }
      }
    }
    & tbody {
        & tr:nth-child(even) {
            background-color: #47525B;
          }
          
          
          & tr:nth-child(odd) {
            background-color: #364048;
          }

          & td {
              border: 0px solid #fff!important;
              text-align: left;
              //font-size: 0.70rem;
          }
      
    }
  }
}
