.data-chile-loading {
  background-color: var(--near-black);
  color: var(--light);
  height: 100vh;
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--foreground);
  & .pt-non-ideal-state-visual {
    max-width: 200px;
    width: 100%;
    & .pt-progress-meter {
      background-color: var(--light);
    }
  }
  & .pt-non-ideal-state-title {
    color: var(--snow);
  }
}
