.documentation {
  color: var(--light);
  text-align: justify;

  & h4 {
    color: #fff;
    font-style: italic;
    margin-top: 20px;
  }

  & .pagenote {
    margin-top: 10px;
    font-style: italic;
    color: #eee;
  }

  & .syntax {
    margin-bottom: 30px;

    & .method {
      font-size: 18px;
      margin-bottom: 0px;
      padding: 10px 0px;
      line-height: 1.8;
      & .text {
        color: var(--accent);
      }
      & .url {
        color: var(--medium-gray);
        font-style: italic;
      }
    }
  }

  & .code {
    overflow: auto;

    &.hidden {
      overflow: hidden;
    }
  }

  & .example {
    margin: 16px 0px;

    & .clarification {
      margin-top: 8px;
      font-size: 0.9rem;
      font-style: italic;
      color: var(--darker-gray);
    }
  }

  & ul {
    list-style: disc;
  }

  & table {
    & thead {
      & tr {
        & th {
          background-color: #4B71B5;
          color: #fff !important;
        }
      }
    }
    & tbody {
      & tr:nth-child(even) {
        background-color: #364063;
      }

      & tr:nth-child(odd) {
        background-color: #424F76;
      }

      & td {
        border: 0px solid #fff !important;
        text-align: left;

        & .code {
          color: #424F76;
          background-color: #fff;
        }
        //font-size: 0.70rem;
      }
    }
  }

  & table {
    width: auto !important;
    & td {
      padding: 8px !important;
      width: auto !important;
      &.description {
        width: 100% !important;
        & .code.format {
          display: inline-block;
          margin-top: 8px;
          overflow: hidden;
        }
      }
      &.format {
        width: 200px !important;
      }
    }

    & th {
      width: auto !important;
      &.description {
        width: 100px !important;
      }
      &.format {
        width: 200px !important;
      }
    }
  }

  & .def-text {
    margin: 10px 0px;
    line-height: 1.5;
    & .title {
      color: var(--accent);
    }
  }

  & .code {
    font-family: Consolas, Menlo, Courier New, monospace, serif;
    color: #f1f2f3;
    //background-color: var(--pre-bg);
    background-color: #424F76;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.85em;
    overflow-x: scroll;
    &.left {
      text-align: left;
    }
  }
}

@media print {
  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}

pre {
  background-color: #424F76;
  //background-color: var(--pre-bg);
  color: #f1f2f3;
  font-size: 14px;
  width: 100%;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  overflow: auto;
  overflow-y: scroll;
  margin: 10px 0px;
  max-height: 500px;
}
pre code {
  font-family: Consolas, Menlo, Courier New, monospace, serif;

  color: #f1f2f3;
}
