@import "../pages/mixins";

.documentation {

  /* space out and separate adjacent sections */
  & section + section {
    border-top: 2px solid var(--black);
    margin-top: 3rem;
  }

  /* space out method */
  & .method {
    margin-bottom: 1em;
  }

  /* italic text and spacing for clarificatins */
  & .clarification {
    @add-mixin body-font-italic;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }
}
