@import "../pages/mixins";

.dynamic-home-header {
  lost-flex-container: column;
  & .dynamic-home-explore-btn {
    lost-flex-container: row;
    align-items: center;
    justify-content: center;
    min-height: 48px;
  }
  & .dynamic-home-illustration {
    position: relative;
    & #mountains-home {
      line-height: 0;
      width: 100%;
      & .back {
        fill: #ccc;
        transition: fill 1s ease;
      }
      & .front {
        fill: #ddd;
        transition: fill 2s ease;
      }
    }
    & .dynamic-home-block {
      height: 75px;
      width: 100%;
      display: block;
      transition: background-color 2s ease;
    }
    & .dynamic-home-items {
      position: absolute;
      width: 100%;
      bottom: 0px;
      display: block;
      height: 100%;

      & .dynamic-home-hotspots {
        line-height: 0;
        position: absolute;
        top: 3%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 9;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        & svg {
          & circle.st0 {
            opacity: 0.5;
            transition: opacity 0.5s;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }
          & path.st1 {
            pointer-events: none;
          }
        }
      }
      & .dynamic-home-image {
        line-height: 0;
        position: absolute;
        top: 14%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 8;
        pointer-events: none;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        & img {
          width: 100%;
        }
        &.grayscale {
          & img {
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(
              1
            ); /* Google Chrome, Safari 6+ & Opera 15+ */
            filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
          }
        }
      }
    }
    & #tooltip-home {
      background-color: var(--snow);
      width: 150px;
      height: auto;
      opacity: 0;
      position: absolute;
      z-index: 9;
      pointer-events: none;
      & .tooltip-title {
        color: var(--snow);
        padding: calc(var(--gutter)/2);
        font-family: var(--font-family-text);
        text-transform: uppercase;
        font-weight: 300;
      }
      & .tooltip-body {
        padding: calc(var(--gutter)/2);
        & .tooltip-data-title {
          font-family: var(--font-family-text);
          font-size: 10px;
          text-transform: uppercase;
          color: var(--medium-gray);
          letter-spacing: 0.08px;
          font-weight: 700;
        }
        & .tooltip-data-value {
          font-family: var(--font-family-text);
          font-size: 16px;
          letter-spacing: 0.08px;
          font-weight: 700;
        }
      }
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
}

@add-mixin for-sm {
  .dynamic-home-header {
    & .dynamic-home-illustration {
      & .dynamic-home-hotspots,
      & .dynamic-home-image {
        display: none;
      }
      & .dynamic-home-block {
        height: 30px;
      }
    }
    & .dynamic-home-explore-btn {
      & .explore-btn {
        min-width: 50%;
      }
    }
  }
}

@add-mixin for-xs {
}

@add-mixin for-xx {
}
