@import "../pages/mixins";

.export-link {

  & .export-list {
    /* positioning */
    position: absolute;
    top: auto;
    z-index: 14;
    /* sizing */
    min-width: 100%;
    margin-top: -20px;
    /* theming */
    background-color: var(--accent);
    border-radius: 2px;
    box-shadow: 0 1px 2em color(var(--footer-bg) a(0.333));
    /* transitions */
    will-change: opacity, transform, margin-top;
    opacity: 0;
    transform: scale(0.01);

    & .export-link {
      display: block;
      padding: 0.75em 1em;
      min-width: 6em;
      width: 100%;

      &:hover,
      &:focus {
        background-color: var(--snow);
        color: var(--accent);
      }

      &.disabled {
        display: none;
      }
    }
  }

  /* open state */
  &.is-open .export-list {
    margin-top: 2px;
    opacity: 1;
    transform: none;
    /* transitions */
    transition:
      opacity 0.2s ease-out,
      margin-top 0.2s ease-out;
  }
}
