.export-link {
  font-family: var(--font-family-text);
  position: relative;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;

  & .toggle {
    display: block;
    color: var(--snow);
    margin: -5px 0;
    padding: 5px;
    background-color: transparent;
    transition: background-color 0.5s ease;
    & img {
      width: 20px;
    }
  }
  &.open .toggle {
    background-color: var(--accent);
  }

  & ul {
    position: absolute;
    z-index: 14;
    left: -15px;
    top: 30px;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: 60px;
    max-height: 0;
    background-color: var(--accent);
    transition: max-height 0.5s ease;

    & li.disabled {
      display: none;
    }

    & a {
      display: block;
      padding: 5px;
      color: var(--snow);
      &:hover {
        background: var(--nice-blue);
      }
    }
  }
  &.open ul {
    max-height: 120px;
  }
}
