@import "../pages/mixins";

.featured-datum-splash {
  lost-flex-container: column;
  color: var(--snow);
  padding-bottom: var(--gutter);
  & .featured-datum-splash-title {
    @add-mixin font-xs;
    @add-mixin heading-font;
    color: var(--snow);
    display: flex;
    align-items: center;
    & small {
      @add-mixin font-xs;
      background-color: var(--accent);
      padding: 5px 10px;
      border-radius: 200px;
      margin-left: 10px;
      text-transform: lowercase;
    }
  }
  & .featured-datum-splash-source {
    @add-mixin font-xxs;
    @add-mixin heading-font;
    color: var(--snow);
    margin-bottom: 0px;
  }
  & .featured-datum-splash-subtitle {
    @add-mixin font-md;
    @add-mixin heading-font;
    color: var(--snow);
    margin-bottom: 0;
  }
  & .featured-datum-splash-level {
    margin: 0;
  }
  & .featured-datum-splash-icons {
    lost-flex-container: row;
    color: var(--snow);
    margin: 0px;
    & .icon-img {
      margin-right: 10px;
      max-width: 40px;
      max-height: 40px;
      &.full {
      }
      &.half {
      }
      &.empty {
      }
    }
    & .icon-img:last-child {
      margin-right: 0px;
    }
  }
  & .featured-datum-splash-data {
    @add-mixin font-xl;
    @add-mixin heading-font;
    color: var(--snow);
    margin-bottom: 0px;
  }
  &.population {
    & .featured-datum-splash-icons {
      & .icon-img {
        margin-right: 20px;
        height: 30px;
        width: 20px;
      }
      & .icon-img:last-child {
        margin-right: 0px;
      }
    }
  }
}
