@import "../pages/mixins";

.featured-datum {
  lost-flex-container: row;
  & .featured-datum-icon {
    margin-right: 15px;
    max-width: 56px;
    width: 100%;
  }
  & .featured-datum-text {
    color: var(--snow);
    flex: 1;
    & .featured-datum-data {
      @add-mixin font-lg;
      @add-mixin heading-font;
    }
    & .featured-datum-title {
      @add-mixin font-sm;
      margin-bottom: 0.2em;
      @add-mixin body-font;
      color: var(--snow);
      line-height: 1.1em;
    }
    & .featured-datum-subtitle {
      @add-mixin font-xs;
      @add-mixin body-font;
      color: var(--gray);
    }
  }
}
