.tile {
  align-items: center;
  background-position: 50%;
  background-size: auto 200%;
  color: white;
  display: flex;
  flex: 1 1 250px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-position 0.2s;
  flex-direction: row;
  justify-content: space-between;
  min-height: 150px;
  position: relative;
  align-content: stretch;
  border: 1px solid var(--snow);

  & .tile-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      -180deg,
      rgba(26, 27, 44, 0.1) 50%,
      #000000 100%
    );
  }

  & .col-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: stretch;

    padding: 5px;
    & .type {
      z-index: var(--foreground);
      font-family: var(--font-family-text);
      text-transform: uppercase;
      font-weight: 300;
      font-size: 9px;
      color: var(--snow);
      letter-spacing: -0.38px;
    }
  }

  & .col-l {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    padding: 0px 10px 20px 20px;
    & .name {
      font-family: var(--font-family-title);
      font-size: 14px;
      color: var(--snow);
      font-weight: 300;
      letter-spacing: 0.03px;
      text-transform: uppercase;
      z-index: var(--foreground);
      text-align: left;
      line-height: 1em;
    }
    & .icon-container {
      background-color: var(--snow);
      border-radius: 50%;
      z-index: var(--foreground);
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      & .icon {
        height: 15px;
        width: 15px;
      }
    }
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 0.2s;
    width: 100%;
  }

  &:hover {
    background-position: 50% 25%;
    text-decoration: none;

    &:after {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
