.featured-datum {
  lost-flex-container: row;
  & .featured-datum-icon {
    margin-right: 15px;
    max-width: 56px;
  }
  & .featured-datum-text {
    color: var(--snow);
    flex: 1;
    & .featured-datum-data {
      font-family: var(--font-family-title);
      font-weight: 300;
      font-size: 34px;
    }
    & .featured-datum-title {
      font-family: var(--font-family-text);
      font-weight: 700;
      font-size: 20px;
      color: var(--snow);
      line-height: 1.1em;
    }
    & .featured-datum-subtitle {
      font-family: var(--font-family-text);
      font-weight: 300;
      font-size: 17px;
      color: var(--gray);
    }
  }
}
