@import "../pages/mixins.css";

.tile {
  flex: 1 1 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  position: relative;
  min-height: 150px;
  color: var(--snow);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid var(--snow);
  transition: border 0.3s ease-out;

  & .tile-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      -180deg,
      rgba(26, 27, 44, 0.1) 50%,
      #000000 100%
    );
  }

  & .col-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: stretch;
    padding-right: var(--gutter-third);
    padding-bottom: var(--gutter-third);

    & .type {
      z-index: var(--foreground);
      font-family: var(--font-family-text);
      text-transform: uppercase;
      font-weight: 300;
      font-size: 7px;
      letter-spacing: 1px;
    }
  }

  & .col-l {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    padding: var(--gutter-half);

    & .name {
      font-family: var(--font-family-title);
      font-size: 12px;
      color: var(--snow);
      font-weight: 300;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      z-index: var(--foreground);
      text-align: left;
      line-height: 1em;
    }
    & .icon-container {
      background-color: var(--snow);
      border-radius: 50%;
      z-index: var(--foreground);
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5em;
      & .icon {
        display: block;
        height: 16px;
        width: 16px;
      }
    }
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 0.2s;
    width: 100%;
  }

  /* position image */
  & .tile-img {
    @add-mixin absolute-expand;
    object-fit: cover;
    z-index: -1;
    /* transition */
    transition: transform 0.3s ease-out;
    will-change: transform;
  }

  &:hover,
  &:focus {
    color: var(--snow);
    text-decoration: none;

    &:after {
      background-color: rgba(0, 0, 0, 0.2);
    }

    & .tile-img {
      transform: scale(1.05);
    }
  }
}
