@import "../pages/mixins";

.featured-datum-splash {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  /* adjust main value margin */
  & .featured-datum-value {
    margin-bottom: 0.25em;
    line-height: 1;
  }

  /* de-emphasize source */
  & .featured-datum-source-title {
    opacity: 0.75;
  }

  & .featured-datum-subtitle + .featured-datum-source {
    margin-top: -1em;
  }


  & .featured-datum-icons {

    /* hide icons on small screens */
    @add-mixin for-md {
      display: none;
    }

    /* line up icons horizontally on big screens */
    @add-mixin from-md {
      display: flex;
      justify-content: space-around;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      max-width: 12rem;

      /* max img size */
      & .featured-datum-img {
        height: 1.625rem;
        width: 1.625rem;
        max-width: 15%;
      }
    }
  }

  /* space out tags */
  & .tag {
    margin-bottom: 0.5em;
  }

  /* space out source */
  & .featured-datum-source {
    @add-mixin body-font-italic;
    margin-top: 0.25em;
    line-height: 1.25;

    & .featured-datum-source-label {
      text-transform: capitalize;
    }
  }

  /* center on big screens */
  @add-mixin from-sm {
    text-align: center;

    & .featured-datum-icons {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* .featured-datum-splash {
  lost-flex-container: column;
  color: var(--snow);
  padding-bottom: var(--gutter);
  & .featured-datum-splash-title {
    @add-mixin font-xs;
    @add-mixin heading-font;
    color: var(--snow);
    display: flex;
    align-items: center;
    & small {
      @add-mixin font-xs;
      background-color: var(--accent);
      padding: 5px 10px;
      border-radius: 200px;
      margin-left: 10px;
      text-transform: lowercase;
    }
  }
  & .featured-datum-splash-source {
    @add-mixin font-xxs;
    @add-mixin heading-font;
    color: var(--snow);
    margin-bottom: 0px;
  }
  & .featured-datum-splash-subtitle {
    @add-mixin font-md;
    @add-mixin heading-font;
    color: var(--snow);
    margin-bottom: 0;
  }
  & .featured-datum-splash-level {
    margin: 0;
  }
  & .featured-datum-splash-icons {
    lost-flex-container: row;
    color: var(--snow);
    margin: 0px;
    & .icon-img {
      margin-right: 10px;
      max-width: 40px;
      max-height: 40px;
      &.full {
      }
      &.half {
      }
      &.empty {
      }
    }
    & .icon-img:last-child {
      margin-right: 0px;
    }
  }
  & .featured-datum-splash-data {
    @add-mixin font-xl;
    @add-mixin heading-font;
    color: var(--snow);
    margin-bottom: 0px;
  }
  &.population {
    & .featured-datum-splash-icons {
      & .icon-img {
        margin-right: 20px;
        height: 30px;
        width: 20px;
      }
      & .icon-img:last-child {
        margin-right: 0px;
      }
    }
  }
} */
