footer {

  background-color: #1e1f30;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  width: 100%;

  & img {
    margin: 25px;
    vertical-align: middle;
  }

  & .logo {
    
  }

  & .logo-datawheel {
    width: 200px;
  }

  & .collaboration{
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

}
