@import "../pages/mixins";

/* icons found on geo / housing & environment / connectivity */
.info-logo-item {
  padding: calc(var(--gutter)/2);
  min-height: 240px;
  & .logo {
    max-width: 60%;
    margin: 0 auto;
    height: auto;
  }
  & .value {
    @add-mixin font-xxl;
    text-align: center;
    display: block;
    @add-mixin heading-font;
  }
  & .verb {
    text-align: center;
    @add-mixin body-font;
    margin-bottom: 0;
  }
  & .title {
    @add-mixin font-sm;
    text-align: center;
    @add-mixin body-font;
    margin-bottom: 0;
  }
}
