@import "../pages/mixins";

.info-logo-container-sned {
	height: 100%;
}

.info-logo-item-sned {
	padding: calc(var(--gutter) / 2);
	min-height: 240px;

	& .logo {
		max-width: 60%;
		margin: 0 auto;
		height: auto;
	}

	& .datum {
		text-align: center;
	}

	& .description {
		text-align: center;
	}
	& .value {
		@add-mixin font-xxl;
		/* text-align: center; */
		display: inline !important;
		margin-right: 8px;
		@add-mixin heading-font;
	}
	& .verb {
		display: inline;
		text-align: center;
		@add-mixin body-font;
		margin-bottom: 0;
	}
	& .title {
		@add-mixin font-sm;
		text-align: center;
		@add-mixin body-font;
		margin-bottom: 0;
	}
}
