@import "../pages/mixins";

.info-logo-container {
  /* layout */
  columns: 3;
  column-width: 10rem;
  column-gap: 2rem;
  /* offset item margin */
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/* icons found on geo / housing & environment / connectivity */
.info-logo-item {
  display: inline-block; /* keep columns together */
  max-width: 14rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  /* subhead */
  & .verb {
    color: var(--light-2);
    margin-bottom: 0;
  }

  & .title {
    color: var(--white);
    display: block;
  }

  /* icon */
  & .logo {
    width: 50%;
    margin: 0 auto;
    height: auto;
  }
}
