@import "../pages/mixins";

/* list of tags found at the top of products profiles */
.links-list {
  & .links-list-item {
    display: inline-block;
    margin-right: 0.375em;
    margin-bottom: 0;

    & .category {
      @add-mixin overflow-ellipsis;
      display: inline-block;
      max-width: 12em;
    }
  }
}
