.loading-component {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--foreground);

  & .loading-text {
    color: var(--light);
    font-family: var(--section-title-family);
    font-size: var(--section-title-size);
    font-weight: var(--section-title-weight);
  }

}
