@import "../pages/mixins";

.nav {
  width: 100%;
  margin: 0 auto 30px;
  padding: 0 var(--gutter);

  & .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    & img {
      display: block;
      width: 100%;
    }

    & .l-col {
      flex: 1;
      padding: var(--gutter) 0 0;
    }

    & .c-col {
      flex: 0 0 auto;
      padding: 21px 0 0;
      text-align: center;

      & .logo {
        display: block;
        width: 112px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    & .r-col {
      flex: 1;
      padding: 21px 0 0;
      line-height: 66px;
      text-align: right;
    }

    & .menu-button {
      & a {
        display: block;
        width: 28px;
        text-transform: uppercase;
        font-family: var(--font-family-title);
        font-weight: 300;
        font-size: 30px;
        line-height: 1;
        transition: opacity 0.2s;
        color: var(--snow);
        opacity: 0.8;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
    }

    & .nav-search-toggle {
      display: block;
      margin-left: auto;
      width: 27px;

      & img {
        margin: 14px 0;
      }
    }

    & .nav-search-toggle.toggle-input,
    & .nav-search-container {
      display: none;
    }
  }

  & .title-container {
    margin: var(--gutter) auto;

    & .nav-title {
      width: 100%;
      text-align: center;
      text-transform: uppercase;

      & h1 {
        margin: 0px;
        font-family: var(--font-family-title);
        font-size: 30px;
        font-weight: 300;
        line-height: 1.1em;
        color: var(--snow);
      }

      & .meta-title {
        font-family: var(--font-family-text);
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.08px;
        text-transform: uppercase;
        white-space: nowrap;

        & .parent,
        & .type {
          display: block;

          & .separator {
            display: none;
          }

          & a {
            cursor: pointer;
            margin: 0px;
            opacity: 0.8;
            text-decoration: none;
            transition: opacity 0.2s;
            color: var(--snow);
            &:hover {
              opacity: 1;
            }
          }
        }

        & .icon-container {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
          width: 30px;
          height: 30px;
          background-color: var(--snow);
          border-radius: 50%;

          & .icon {
            display: block;
            margin: 7px auto;
            height: 16px;
          }
        }
      }
    }
  }
}

.nav .subnav {
  z-index: 100;
  padding: 10px 16px;
  width: 100%;
  color: var(--snow);
  background-color: var(--footer-bg);
  max-width: 370px;

  & .button-set-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  & .close-btn-container {
    flex: 1 auto;

    & a,
    & img {
      display: block;
    }
    & a {
      padding: 10px;
    }
  }

  & .lang-selector {
    font-family: var(--font-family-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;

    & .lang {
      display: inline-block;
      margin: 0 2px;
      padding: 0 10px;
      text-decoration: none;
      color: inherit;

      &.current,
      &:hover {
        text-decoration: underline;
        opacity: 1;
        cursor: default;
      }

      &.other {
        transition: opacity 0.2s;
        opacity: 0.8;
      }
    }

    &:hover .lang {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    font-family: var(--font-family-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.08px;
    text-transform: uppercase;
    color: var(--snow);

    & li {
      margin: 2px 0;

      & a {
        color: inherit;
      }
    }

    & li.title {
      padding-top: 15px;
      color: var(--gray);
    }

    & li.link a,
    & li.topic a {
      display: block;
      padding: 3px 0;
      padding-left: 16px;
      text-decoration: none;
      opacity: 0.8;
      transition: opacity 0.2s;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    & li.link.link-soon,
    & li.title.link-soon {
      & a {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
}

@add-mixin from-xx {
}

@add-mixin from-xs {
  .nav {
    & .nav-container {
      & .c-col {
        padding: 11px 0 0;

        & .logo {
          width: 150px;
        }
      }
    }

    & .subnav {
      width: 370px;
    }
  }
}

@add-mixin from-sm {
  .nav {
    & .nav-container {
      & .c-col {
        padding: 11px 0 0;

        & .logo {
          width: 170px;
        }
      }

      & .r-col {
        padding: 24px 0 0;
        position: relative;
      }

      & .nav-search-toggle.toggle-nav {
        display: none;
      }

      & .nav-search-toggle.toggle-input {
        display: block;
        position: absolute;
        z-index: 40;
        right: 0;
      }

      & .nav-search-container {
        display: block;
        padding-left: 20px;

        & .nav-search-wrapper {
          margin-left: auto;
          transition: all 0.5s ease;
        }
      }

      & .nav-search {
        &.closed {
          & .nav-search-toggle img {
            margin: 14px 0;
          }
          & .nav-search-wrapper {
            width: 80px;
            opacity: 0;
          }
        }

        &.open {
          & .nav-search-toggle {
            & img {
              margin: 12px 0;
            }
          }
          & .nav-search-wrapper {
            margin-right: -15px;
            width: 100%;
            opacity: 1;
          }
        }
      }
    }

    & .title-container {
      & .nav-title {
        & h1 {
          font-size: 30px;
        }

        & .meta-title {
          text-align: center;

          & .parent,
          & .type {
            display: inline-block;
            vertical-align: center;

            & .separator {
              display: inline;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}

@add-mixin for-md {
  .nav-search-wrapper {
    & .search-component .input input {
      background: none;
      padding-left: 22px;
      padding-right: 48px;
    }
  }
}

@add-mixin from-md {
  .nav {
    & .nav-container {
      & .nav-search-container {
        padding-left: 40px;
      }
    }
    & .title-container {
      & .nav-title {
        & h1 {
          font-size: 60px;
        }
      }
    }

    & .subnav {
      padding: 16px;

      & .nav-search-wrapper {
        padding: 0 var(--gutter-half);
      }

      & > ul {
        margin: 0 16px;
      }
    }
  }
}
