.nav {
  font-family: var(--font-family);
  margin: 0 auto;
  position: absolute;
  left: 10%;
  top: 0;
  width: 80%;
  z-index: var(--foreground);

  & .search-btn {
    display: inline-block;
    opacity: 0.5;
    margin: 23px 5px;
    transition: opacity 0.2s;
    vertical-align: top;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  & .logo {
    display: inline-block;
    font-weight: 600;
    margin: 25px 15px;
    text-decoration: none;
    text-transform: uppercase;

    & .data {
      color: white;
    }

    & .africa {
      color: var(--light);
      margin-left: 5px;
    }

  }

  & .link {
    color: white;
    display: inline-block;
    margin: 25px 15px;
    opacity: 0.5;
    text-decoration: none;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

}
