@import "../pages/mixins";

.nav {
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 0px var(--gutter);

  & .nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & .l-col {
      lost-column: 1/3;
      padding-top: var(--gutter);
      & .menu-button {
        & a,
        & img {
          display: block;
        }

        & a {
          text-transform: uppercase;
          font-family: var(--font-family-title);
          font-weight: 300;
          font-size: 30px;
          line-height: 1;
          transition: opacity 0.2s;
          color: var(--snow);
          opacity: 0.8;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
    & .c-col {
      lost-column: 1/3;
      text-align: center;
      padding-top: 10px;
      & .logo {
        text-decoration: none;
        text-transform: uppercase;
        & img {
          margin: 0 auto;
          max-width: 40%;
        }
      }
    }
    & .r-col {
      lost-column: 1/3;
      padding-top: var(--gutter);
      & .search-nav-container {
        position: relative;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        & .search-nav-wrapper {
          transition: all 0.5s ease;
        }
        & a.search-toggle-nav {
          position: absolute;
          z-index: 40;
          width: 48px;
          line-height: 46px;
          text-align: center;
          right: 0;
          & img {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &.close {
          & a.search-toggle-nav {
          }
          & .search-nav-wrapper {
            width: 80px;
            opacity: 0;
          }
        }
        &.open {
          & .search-nav-wrapper {
            width: 100%;
            opacity: 1;
          }
          & a.search-toggle-nav {
          }
        }
      }
    }
  }

  & .title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--gutter) auto;
    & .nav-title {
      text-align: center;
      lost-center: 75%;
      & h1 {
        text-transform: uppercase;
        color: var(--snow);
        font-family: var(--font-family-title);
        font-weight: 300;
        font-size: 50px;
        line-height: 1em;
        text-align: center;
        margin: 0px;
        width: 100%;
      }
      & .meta-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & .parent,
        & .type {
          padding: 0px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          & .separator {
            margin: 0 5px;
          }
          & a {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0px;
            opacity: 0.8;
            text-decoration: none;
            transition: opacity 0.2s;
            font-family: var(--font-family-text);
            font-weight: 400;
            font-size: 12px;
            color: var(--snow);
            letter-spacing: 0.08px;
            text-transform: uppercase;
            & .icon-container {
              background-color: var(--snow);
              border-radius: 50%;
              z-index: var(--foreground);
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
              & .icon {
                display: block;
                height: 15px;
              }
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.subnav {
  background-color: var(--footer-bg);
  padding: 15px 15px;
  z-index: 100;
  & .search-nav-wrapper {
    padding: calc(var(--gutter)/2);
  }
  & .close-btn-container {
    text-align: right;
  }
  & ul {
    list-style: none;
    padding: 0px;
    margin: 0px 15px;
    & li {
      margin: 5px 0px;
    }
    & li.link a,
    & li.topic a {
      cursor: pointer;
      display: inline-block;
      opacity: 0.8;
      text-decoration: none;
      transition: opacity 0.2s;
      font-family: var(--font-family-text);
      font-weight: 400;
      font-size: 12px;
      color: var(--snow);
      letter-spacing: 0.08px;
      text-transform: uppercase;
      lost-column: 1 flex;
      padding-left: 15px;
      &:hover {
        opacity: 1;
      }
    }
    & li.link.link-soon,
    & li.title.link-soon {
      & a {
        opacity: 0.3;
      }
    }
    & li.lang-selector {
      lost-column: 1 flex;
      & span {
        display: inline-block;
        margin: 2px;
        text-decoration: none;
        font-family: var(--font-family-text);
        font-weight: 400;
        font-size: 12px;
        color: var(--snow);
        letter-spacing: 0.08px;
        text-transform: uppercase;
        &.lang-current {
          color: var(--snow);
          text-decoration: underline;
          opacity: 1;
        }
        &.lang-other {
          & a {
            transition: opacity 0.2s;
            color: var(--snow);
            opacity: 0.8;
            text-decoration: none;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    & li.title {
      text-transform: uppercase;
      color: var(--gray);
      font-family: var(--font-family-text);
      font-weight: 400;
      font-size: 14px;
      padding-top: 15px;
      & a {
        color: var(--gray);
      }
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
  .nav {
    & .title-container {
      & .nav-title {
        & h1 {
          font-size: 60px;
        }
      }
    }
  }
}

@add-mixin for-md {
  .nav {
    & .title-container {
      & .nav-title {
        & h1 {
          font-size: 30px;
        }
      }
    }
  }
}

@add-mixin for-sm {
  .nav {
    & .title-container {
      & .nav-title {
        lost-center: 90%;
        & h1 {
          font-size: 30px;
        }
        & .meta-title {
          flex-direction: column;
          & .parent {
            & .separator {
              display: none;
            }
          }
        }
      }
    }
    & .nav-container {
      & .c-col {
        & .logo {
          & img {
            max-width: 80%;
          }
        }
      }
    }
  }
}

@add-mixin for-xs {
  .nav {
    & .nav-container {
      justify-content: flex-start;
      & .l-col {
        lost-column: 1/4;
      }
      & .c-col {
        lost-column: 2/4;
        & .logo {
          & img {
            max-width: 100%;
          }
        }
      }
      & .r-col {
        display: none;
      }
    }
  }
}

@add-mixin for-xx {
}
