@import "../pages/mixins";

.nav {
  width: 100%;
  margin: var(--gutter) auto 60px auto;
  padding: 0px var(--gutter);

  & .nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & .l-col {
      lost-column: 1/3;
      & .menu-button {
        & a {
          text-transform: uppercase;
          font-family: var(--font-family-title);
          font-weight: 300;
          font-size: 30px;
          line-height: 1;
          transition: opacity 0.2s;
          color: var(--snow);
          opacity: 0.8;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
    & .c-col {
      lost-column: 1/3;
      text-align: center;
      & .logo {
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    & .r-col {
      lost-column: 1/3;
      & .search-nav-container {
        position: relative;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        & .search-nav-wrapper {
          transition: all 0.5s ease;
        }
        & a.search-toggle-nav {
          position: absolute;
          z-index: 40;
          width: 48px;
          line-height: 46px;
          text-align: center;
          & img {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &.close {
          & a.search-toggle-nav {
          }
          & .search-nav-wrapper {
            width: 80px;
            opacity: 0;
          }
        }
        &.open {
          & .search-nav-wrapper {
            width: 100%;
            opacity: 1;
          }
          & a.search-toggle-nav {
          }
        }
      }
      & .nav-lang {
        & .lang-selector {
          & span {
            margin: 0px 2px;
            text-decoration: none;
            font-family: var(--font-family-text);
            font-weight: 400;
            font-size: 12px;
            color: var(--snow);
            letter-spacing: 0.08px;
            text-transform: uppercase;
            &.lang-current {
              color: var(--snow);
              text-decoration: underline;
              opacity: 1;
            }
            &.lang-other {
              & a {
                transition: opacity 0.2s;
                color: var(--snow);
                opacity: 0.8;
                text-decoration: none;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  & .title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--gutter) auto;
    & .nav-title {
      text-align: center;
      lost-center: 500px;
      & h1 {
        text-transform: uppercase;
        color: var(--snow);
        font-family: var(--font-family-title);
        font-weight: 300;
        font-size: 50px;
        line-height: 1em;
        text-align: center;
        margin: 0px;
        width: 100%;
      }
      & .meta-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & .parent,
        & .type {
          padding: 0px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          & .separator {
            margin: 0 5px;
          }
          & a {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0px;
            opacity: 0.8;
            text-decoration: none;
            transition: opacity 0.2s;
            font-family: var(--font-family-text);
            font-weight: 400;
            font-size: 12px;
            color: var(--snow);
            letter-spacing: 0.08px;
            text-transform: uppercase;
            & .icon-container {
              background-color: var(--snow);
              border-radius: 50%;
              z-index: var(--foreground);
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
              & .icon {
                height: 15px;
                width: 15px;
              }
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.subnav {
  background-color: var(--footer-bg);
  padding: 15px 15px;
  z-index: 100;
  & .close-btn-container {
    text-align: right;
  }
  & ul {
    list-style: none;
    padding: 0px;
    margin: 0px 15px;
    & li {
      margin: 15px 0px;
    }
    & li.link a,
    & li.topic a {
      cursor: pointer;
      display: inline-block;
      opacity: 0.8;
      text-decoration: none;
      transition: opacity 0.2s;
      font-family: var(--font-family-text);
      font-weight: 400;
      font-size: 12px;
      color: var(--snow);
      letter-spacing: 0.08px;
      text-transform: uppercase;
      lost-column: 1 flex;
      &:hover {
        opacity: 1;
      }
    }
    & li.lang-selector {
      lost-column: 1 flex;
      & span {
        display: inline-block;
        margin: 2px;
        text-decoration: none;
        font-family: var(--font-family-text);
        font-weight: 400;
        font-size: 12px;
        color: var(--snow);
        letter-spacing: 0.08px;
        text-transform: uppercase;
        &.lang-current {
          color: var(--snow);
          text-decoration: underline;
          opacity: 1;
        }
        &.lang-other {
          & a {
            transition: opacity 0.2s;
            color: var(--snow);
            opacity: 0.8;
            text-decoration: none;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    & li.title {
      text-transform: uppercase;
      color: var(--gray);
      font-family: var(--font-family-text);
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      letter-spacing: 5px;
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
  .nav {
    & .title-container {
      & .nav-title {
        & h1 {
          font-size: 60px;
        }
      }
    }
  }
}

@add-mixin for-md {
  .nav {
    & .title-container {
      & .nav-title {
        & h1 {
          font-size: 30px;
        }
      }
    }
  }
}

@add-mixin for-sm {
  .nav {
    & .title-container {
      & .nav-title {
        & h1 {
          font-size: 30px;
        }
        & .meta-title {
          flex-direction: column;
          & .parent {
            & .separator {
              display: none;
            }
          }
        }
      }
    }
  }
}

@add-mixin for-xs {
  .nav {
    & .nav-container {
      justify-content: flex-start;
      & .l-col {
        lost-column: 1/4;
      }
      & .c-col {
        lost-column: 2/4;
      }
      & .r-col {
        display: none;
      }
    }
  }
}

@add-mixin for-xx {
}
