.nav-fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 1;
  transition: all 400ms;
  &.hidden {
    opacity: 0;
    top: -200px;
    pointer-events: none;
  }

  & .nav-topic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    & .topics {
      margin: 0 var(--gutter);
      text-align: right;
      & .topic-link {
        color: var(--snow);
        display: inline-block;
        font-size: 10px;
        margin: 5px 25px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0.9;
        transition: opacity 0.2s;
        font-family: var(--font-family-title);
        font-weight: 300;
        cursor: pointer;
        border-bottom: 2px solid var(--snow);
        padding-bottom: 10px;
        letter-spacing: 0.1px;

        & .svg-image {
          width: 50px;
          display: block;
          margin: 0px auto 10px auto;
          & svg {
            width: 100%;
            & path,
            & line,
            & polygon {
              fill: var(--snow);
              stroke: var(--snow);
            }
          }
        }

        &.active {
          border-bottom-color: var(--accent);
          color: var(--accent);
          & .svg-image {
            & .fill-color {
              fill: var(--accent);
            }
            & .stroke-color {
              stroke: var(--accent);
            }
          }
        }

        &:hover {
          border-bottom-color: var(--accent);
          color: var(--accent);
          opacity: 1;
          & .svg-image {
            & path,
            & line,
            & polygon {
              fill: var(--accent);
              stroke: var(--accent);
            }
          }
        }
      }
    }
  }

  & .nav-entity {
    z-index: 10;
    position: relative;
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    & .nav-titles {
      & .datachile {
        color: var(--snow);
        font-family: var(--font-family-title);
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.03px;
      }
    }
    & .nav-search {
      margin-right: var(--gutter);
    }
  }

  & .nav-float-container {
    position: absolute;
    background-color: red;
    width: 100%;
    top: 0px;
    margin-top: 72px;
  }

  & .nav-menu {
    position: absolute;
    opacity: 1;
    top: 0px;
    transition: all 400ms;
    color: var(--snow);
    &.hidden {
      opacity: 0;
      top: -200px;
      pointer-events: none;
    }
    & .content {
      background-color: var(--footer-bg);
      padding: 0px;
      width: auto;
      & ul {
        padding: 0px;
        list-style: none;
        margin: 0px;
        padding-bottom: calc(var(--gutter)/2);
        & li {
          color: var(--snow);
          text-transform: uppercase;
          padding: 0px;
          & a {
            cursor: pointer;
            display: inline-block;
            padding: calc(var(--gutter)/2) calc(var(--gutter)*5)
              calc(var(--gutter)/2) var(--gutter);
            opacity: 0.8;
            text-decoration: none;
            transition: opacity 0.2s;
            font-family: var(--font-family-text);
            font-weight: 400;
            font-size: 12px;
            color: var(--snow);
            letter-spacing: 0.08px;
            text-transform: uppercase;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
