.person-item {
	margin: 10px 0;
	& .person-item-img {
		text-align: center;
		& img {
			width: 100%;
			border: 1px solid var(--snow);
			border-radius: 50%;
			opacity: 0.8;
		}
	}
	& .person-item-name {
		letter-spacing: 0.08px;
		font-family: var(--font-family-title);
		font-weight: 300;
		font-size: 10px;
		color: var(--snow);
		text-transform: uppercase;
		text-align: center;
		margin: 10px auto;
		&.president {
			font-size: 12px;
		}
	}
	& .person-item-subtitle {
		font-family: var(--font-family-title);
		font-weight: 800;
		font-size: 9px;
		letter-spacing: 0.5px;
		color: var(--snow);
		text-transform: uppercase;
		text-align: center;
	}
}
