@import "../pages/mixins";

.person-item {
  margin: 10px 0;
  & .person-item-img {
    text-align: center;
    width: 80%;
    border: 1px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    & img {
      width: 100%;
      position: absolute;
      left: 0;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  & .person-item-name {
    @add-mixin font-xxs;
    color: var(--snow);
    text-align: center;
    margin: 10px auto;
    &.president {
      @add-mixin font-xs;
    }
  }
  & .person-item-subtitle {
    @add-mixin font-xxs;
    color: var(--snow);
    text-align: center;
    width: 100%;
  }
}
