@import "../pages/mixins";

.profile-carousel {
  lost-flex-container: row;
  lost-column: 1 1;
  margin: calc(var(--gutter)/2) auto var(--gutter) auto;

  & .profile-carousel-title {
    lost-column: 1 1;
    text-align: center;
    padding-right: 0.625em;

    & .profile-carousel-title-icon {
      display: inline-block;
      vertical-align: middle;
      width: 2em;
    }

    & .profile-carousel-title-text {
      vertical-align: middle;
    }
  }
  & .profile-carousel-container {
    lost-flex-container: row;
    lost-column: 1 1;
    width: 100%;
    & .profile-carousel-item {
      lost-waffle: 1/5;
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
  .profile-carousel {
    & .profile-carousel-container {
      & .profile-carousel-item {
        lost-waffle: 1/2;
        &:last-child {
          display: none;
        }
      }
    }
  }
}

@add-mixin for-sm {
}

@add-mixin for-xs {
  .profile-carousel {
    & .profile-carousel-container {
      & .profile-carousel-item {
        lost-waffle: 1;
        max-height: 150px;
        &:last-child {
          display: inherit;
        }
      }
    }
  }
}

@add-mixin for-xx {
}
