.search-component {
  position: relative;
  z-index: var(--cover);

  & .input {
    width: 100%;

    & .icon {
      display: inline-block;
      position: absolute;
      margin: 9px 2px;
      width: 36px;
    }

    & input {
      border: 0;
      box-sizing: border-box; 
      display: inline-block;
      font-family: var(--font-family-chivo);
      font-size: 14.53px;
      color: var(--color-p);
      font-weight: 400;
      padding: 10px 0 10px 30px;
      width: 100%;
      background-image: url("/images/icons/icon-lupa.svg");
      background-repeat: no-repeat;
      background-position: 10px center;
      &::placeholder {
        color: var(--color-p);
      }

      &:focus {
        outline: none;
      }

    }

  }

  & .results {
    display: block;
    left: 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 36px;
    transition: opacity 0.2s;
    width: 100%;
    background-color: var(--snow);
    & .result {
      opacity: 0.6;
      transition: opacity 0.2s;
      height: 41px;
      background-image: url("/images/icons/icon-location-resultado.svg");
      background-repeat: no-repeat;
      background-position: 20px center;
      display: flex;
      align-items: center;
      & a {
        padding-left: 60px;
        width: 100%;
        color: var(--color-p);
        display: block;
        text-decoration: none;
        font-family: var(--font-family-chivo);
        font-weight: 400;
        font-size: 11.62px;
        color: #929293;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      &:hover, &.highlighted {
        background-image: url("/images/icons/icon-location-blue.svg");
        opacity: 1;
        background-color: #E6E6E6;
      }

    }

  }

  &.active {

    & .results {
      opacity: 1;
    }

  }
}