.search-nav {
  overflow: hidden;
  right: 133px;
  top: 13px;
  transition: opacity 0.5s, width 0.5s;
  z-index: var(--cover);
  opacity: 1;
  width: 250px;

  &.active {
  }

  & .input {
    

    & .icon {
      display: inline-block;
      position: absolute;
      margin-top: 8px;
      width: 16px;
    }

    & input {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid white;
      box-sizing: border-box;
      color: white;
      display: inline-block;
      font-weight: 400;
      font-size: 12px;
      max-width: 600px;
      opacity: 0.8;
      padding: 5px 10px;
      transition: opacity 0.2s;
      width: 100%;

      &::placeholder {
        color: white;
      }

      &:focus {
        opacity: 1;
        outline: none;
        opacity: 1;
      }

    }

  }

  & .results {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    & .result {
      background-color: white;
      opacity: 0.6;
      padding: 8px 16px 8px 32px;
      transition: opacity 0.2s;

      & a {
        color: black;
        display: block;
        font-size: 16px;
        text-decoration: none;

      }

      &:hover, &.highlighted {
        opacity: 1;
      }

    }

  }

}
