@import "../pages/mixins";

.select {
	/* typography */
	@add-mixin heading-font;
	/* sizing */
	display: block;
	width: 100%;
	padding: 0.375em 0;
	/* chevron */
	background-image: url("/images/profile-icon/icon-arrow-mini.svg");
	background-size: 1em;
	background-repeat: no-repeat;
	background-position: right center;
	/* strip default select styles */
	background-color: transparent;
	border: none;
	border-radius: 0;
  -webkit-appearance: none;
	/* theming */
	border-bottom: 0.125em solid var(--accent);
	color: var(--light-2);
	/* transitions */
	transition:
		color 0.2s ease-out,
		border-color 0.2s ease-out;

	/* interactions */
	&:hover,
	&:focus,
	&:active {
		border-color: var(--accent-light);
		color: var(--white);
	}

	&:focus,
	&:active {
		outline: none;
	}
}
