.staging-indicator {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  font-size: 8px;
  z-index: 42000;
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 5px,
    black 5px,
    black 10px
  );
}
