.svg-map {
  width: 100%;
  & svg {
    & path.region {
      stroke-width: 1;
      stroke-opacity: 1;
      stroke: var(--snow);

      fill: var(--snow);
      fill-opacity: 0.7;

      cursor: pointer;
      transition: fill-opacity 0.4s ease;
      &.hover {
        fill-opacity: 1;
      }
    }
    & g {
      pointer-events: all;
    }
    & path.comuna {
      fill: var(--near-black);
      fill-opacity: 0.2;
      stroke: var(--snow);
      cursor: pointer;
      transition: fill 0.4s ease, opacity 0.4s ease;
      &.selected {
        fill: var(--accent);
        fill-opacity: 1;
        cursor: pointer;
      }
      &.hover {
        fill: var(--snow);
        fill-opacity: 1;
        cursor: pointer;
      }
    }
    & path.limite {
      fill: none;
      stroke: var(--snow);
      pointer-events: none;
    }
    & circle.border-circle,
    & clippath {
      fill: none;
      stroke: var(--snow);
      pointer-events: none;
    }
  }
  & #svg-map-tooltip {
    @add-mixin font-xs;
    transform: scale(0);
    position: absolute;
    z-index: 100;
    pointer-events: none;
    text-align: center;
    padding: 10px;
    background: var(--snow);
    border: 1px solid var(--dark);
    @add-mixin body-font;
    color: var(--dark);
  }
}
