@import '../pages/mixins';

/* swiping is disabled, so... */
.slick-slider {
  user-select: text;
}

/*
.topic-slider {
  & .slick-prev,
  & .slick-next {
    display: none !important;
    position: absolute;
    top: 50%;

    width: 20px;
    height: 100%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: black;
    z-index: 10;

    &:hover,
    &:focus {
      color: transparent;
      outline: none;
      background: gray;
    }
    &:hover:before,
    &:focus:before {
      opacity: 1;
    }
    &.slick-disabled:before {
      opacity: 0.25;
    }

    &:before {
      @add-mixin font-sm;
      font-family: "slick";
      line-height: 1;

      opacity: 0.75;
      color: white;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  & .slick-prev {
    left: 0;
  }
  & [dir="rtl"] .slick-prev {
    right: 0;
    left: auto;
  }
  & .slick-prev:before {
    content: "←";
  }
  & [dir="rtl"] .slick-prev:before {
    content: "→";
  }

  & .slick-next {
    right: 0;
  }
  & [dir="rtl"] .slick-next {
    right: auto;
    left: 0;
  }
  & .slick-next:before {
    content: "→";
  }
  & [dir="rtl"] .slick-next:before {
    content: "←";
  }

  & .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }

  & .slick-slider {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
  }

  & .slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
  }
  & .slick-dots li {


    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
  }
  & .slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  & .slick-dots li button:hover,
  & .slick-dots li button:focus {
    outline: none;
  }
  & .slick-dots li button:hover:before,
  & .slick-dots li button:focus:before {
    opacity: 1;
  }
  & .slick-dots li button:before {
    @add-mixin font-xxs;
    font-family: "slick";

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: "•";
    text-align: center;

    opacity: 0.25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  & .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
  }
}
*/
