.topic-slider-bullets {
	text-align: right;
	& ul {
		padding: 0px;
		margin: 0px;
		& li.bullet {
			list-style-type: none;
			display: inline-block;
			&.selected {
				& a {
					background-color: var(--accent);
				}
			}
			& a {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				border: 1px solid var(--snow);
				display: inline-block;
				background-color: var(--dark);
				margin: 5px;
			}
		}
	}
}
