.topic-slider-sections {
  & ul {
    padding: 0px;
    margin: 0px;
    & li.section {
      list-style-type: none;
      display: inline-block;
      &.selected {
        & a {
          color: black;
          text-decoration: none;
        }
      }
      & a {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}
