@import "../pages/mixins";

.topic-menu {
	lost-flex-container: row;
	justify-content: center;
	& .topic-link {
		text-align: center;
		lost-flex-container: column;
		justify-content: space-between;
		padding: 15px;
		min-width: 125px;
		/* transitions */
		transition: transform 0.2s ease-out;

		/* interactions */
		&:hover, &:focus {
			transform: scale(1.375);

			& span {
				transform:
					scale(0.825)
					translateY(-0.333em);
			}
		}

		& span {
			color: var(--snow);
			text-transform: uppercase;
			/* transitions */
			transition:
				transform 0.2s ease-out,
				color 0.2s ease-out;
		}
		& .svg-image {
			opacity: 0.666;
			& svg {
				width: 30px;
				height: 45px;
			}
			& path,
			& line,
			& rect,
			& circle {
				fill: none;
				stroke: var(--snow);
				stroke-width: 1.5;
				transition: stroke 0.2s ease-out;
			}
		}
		&:hover {
			text-decoration: none;
			& span {
				color: var(--accent);
			}
			& .svg-image {
				& path,
				& line,
				& rect,
				& circle {
					fill: none;
					stroke: var(--accent);
				}
			}
		}
	}
}
