@import "../pages/mixins";

.topic-slider-bullets {
	text-align: right;
	& ul {
		padding: 0px;
		margin: 0px;
		& li.bullet {
			list-style-type: none;
			display: inline-block;
			&.selected {
				& a {
					background-color: var(--accent);
				}
			}
			& a {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				border: 1px solid var(--snow);
				display: inline-block;
				background-color: var(--dark);
				margin: 5px;
			}
		}
	}
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
}

@add-mixin for-sm {
	.topic-slider-bullets {
		& ul {
			& li.bullet {
				& a {
					margin: 5px 2px;
				}
			}
		}
	}
}

@add-mixin for-xs {
}

@add-mixin for-xx {
}
