@import "../pages/mixins";

.topic-slider-sections {
  margin: 0 var(--gutter) calc(var(--gutter) / 2) var(--gutter);
  & ul {
    padding: 0px;
    margin: 0px;
    line-height: 2;
    & .section-block {
      &:last-child {
        & .pipe {
          display: none;
        }
      }
    }
    & .pipe {
      @add-mixin font-sm;
      @add-mixin heading-font;
      color: var(--snow);
      margin: 0 10px 0px 0;
      &.pipe-small {
        @add-mixin font-xs;
      }
    }
    & li.section-item {
      list-style-type: none;
      display: inline-block;
      & a {
        @add-mixin font-sm;
        @add-mixin heading-font;
        text-transform: uppercase;
        color: var(--snow);
        text-decoration: none;
        margin: 0 10px 0px 0;
        opacity: 0.8;
      }
      &.selected {
        & a {
          @add-mixin body-font-bold;
          border-bottom: 1px solid var(--snow);
          padding-bottom: 5px;
          opacity: 1;
        }
      }
      &:last-child {
        & .pipe {
          display: none;
        }
      }
    }
    & li.sub-section-item {
      list-style-type: none;
      display: inline-block;
      & a {
        @add-mixin font-xs;
        @add-mixin heading-font;
        color: var(--snow);
        text-decoration: none;
        margin: 0 10px 0px 0;
        opacity: 0.8;
      }
      &.selected {
        & a {
          @add-mixin body-font-bold;
          padding-bottom: 5px;
          opacity: 1;
        }
      }
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
}

@add-mixin for-sm {
  .topic-slider-sections {
    margin: 0 calc(var(--gutter) / 2) calc(var(--gutter) / 2)
      calc(var(--gutter) / 2);
    & ul {
      margin-bottom: 15px;
    }
  }
}

@add-mixin for-xs {
  .topic-block .topic-header .topic-heading h2 {
    & span.small {
      display: block;
      & .pipe {
        display: none;
      }
    }
  }
}

@add-mixin for-xx {
}
