@import "../pages/mixins";

/* NOTE: many styles inherited from TopicSliderTabs.css */
.topic-slider-subsections {
  /* positioning */
  padding-top: 0;
  padding-bottom: 1rem;
  margin-top: -0.5rem;
  /* override topic-tab-list */
  background: none;

  /* right align and reposition on big screens */
  @add-mixin from-md {
    text-align: right;
    padding: 0;
    margin-top: -1.5rem;
    margin-bottom: 0.25rem;
  }

  /* adjust underline size */
  & .topic-tab-item .topic-tab-button {
    border-bottom-width: 1px;
  }
}
