.topic-slider-sections {
  margin: 0 var(--gutter) var(--gutter) var(--gutter);
  & ul {
    padding: 0px;
    margin: 0px;
    & .pipe {
      font-family: var(--font-family-title);
      font-size: 18px;
      font-weight: 300;
      color: var(--snow);
      margin: 0 10px 0px 0;
    }
    & li.section-item {
      list-style-type: none;
      display: inline-block;
      & a {
        font-family: var(--font-family-title);
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        color: var(--snow);
        letter-spacing: 1px;
        text-decoration: none;
        margin: 0 10px 0px 0;
      }
      &.selected {
        & a {
          border-bottom: 1px solid var(--snow);
          font-weight: 800;
          padding-bottom: 5px;
        }
      }
      &:last-child {
        & .pipe {
          display: none;
        }
      }
    }
  }
}
