@import "../pages/mixins";

.topic-slider-subsections {
  & li.sub-section-item {
    list-style-type: none;
    display: inline-block;
    & a {
      @add-mixin font-xs;
      @add-mixin heading-font;
      color: var(--snow);
      text-decoration: none;
      margin: 0 10px 0px 0;
      opacity: 0.8;
    }
    &.selected {
      & a {
        @add-mixin body-font-bold;
        padding-bottom: 5px;
        opacity: 1;
      }
    }
  }
}
