@import "../pages/mixins";

.about {

  /* fix a bug caused by changing defaults to position: relative */
  &, & .intro {
    position: static;
  }

  & .glossary {
    & .definition {
      margin-top: 0px;
    }

    & .term {
      margin: 0px;
      padding: 0px;
    }
  }

  & .intro {

    & .splash {
      height: 800px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: var(--background);

      & .image {
        background-image: url("/images/profile-bg/about.jpg");
        background-position: 75%;
        background-size: cover;
        filter: saturate(100%) contrast(80%);
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & .gradient {
        background: linear-gradient(0deg, var(--dark), rgba(0, 0, 0, 0.2));
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    & .sublinks {
      padding-bottom: var(--gutter);
      text-align: center;
      lost-flex-container: row;
      lost-align: center;
      color: var(--snow);

      & .sublink {
        padding: calc(var(--gutter)/4);
        display: inline-block;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        transition: opacity 0.2s;

        &.selected {
          @add-mixin body-font-bold;
          text-decoration: underline;
          margin: 0;
        }
        &:hover {
          text-decoration: underline;
        }

        & img {
          display: block;
        }
      }
    }
  }

  & .section-container {
    lost-utility: clearfix;
    lost-flex-container: column;
    background-color: var(--near-black);
  }

  & .section {
    padding: calc(var(--gutter) * 2) var(--gutter);
    margin-bottom: var(--gutter);
    lost-center: 2/3;
    max-width: var(--break-md);
    display: block;

    & h2 {
      color: var(--snow);
      margin-bottom: var(--gutter);
      lost-column: 1;
    }

    & h3 {
      color: var(--snow);
      margin: var(--gutter) 0 calc(var(--gutter)/2) 0;
      line-height: 1.2em;
    }

    & div {
      width: 100%;
    }

    & p {
      @add-mixin font-sm;
      color: var(--darker-gray);
      & img.icon {
        width: 15px;

        margin-bottom: -4px;
      }
    }
    & ul {
      & li {
        @add-mixin font-sm;
        @add-mixin body-font;
        color: var(--snow);
        line-height: 1.5;
        text-align: justify;
      }
    }
    & .use {
      @add-mixin font-sm;
      @add-mixin body-font;
      color: var(--accent);
      background-color: var(--snow);
      line-height: 1.5;
      lost-column: 1;
      padding: calc(var(--gutter)/2);
    }

    /* dataset table */
    & table {
      border-collapse: collapse;
      text-align: left;

      /* cell padding & alignment */
      & th,
      & td {
        vertical-align: middle;
        padding:
          var(--gutter-third)
          var(--gutter)
          var(--gutter-third)
          0;

        &:last-of-type {
          padding-right: 0;
        }
      }

      /* border between adjacent rows */
      & tr + tr {
        border-top: 1px solid var(--pre-bg);
      }
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
  .about {
    & .intro {
      & .sublinks {
        & .sublink {
          lost-column: 1/3;
        }
      }
    }
    & .section {
      lost-column: 1;
      margin-bottom: 0px;
    }
  }
}

@add-mixin for-sm {
  .about {
    & .intro {
      & .sublinks {
        & .sublink {
          lost-column: 1/2;
          margin: 0 !important;
        }
      }
    }
  }
}

@add-mixin for-xs {
  .about {
    & .intro {
      & .sublinks {
        & .sublink {
          lost-column: 1;
          margin: 0 !important;
        }
      }
    }
  }
}

@add-mixin for-xx {
}
