@import "../pages/mixins";

.about {
  & .glossary {
    & .definition {
      margin-top: 0px;
    }

    & .term {
      font-weight: bold;
      margin: 0px;
      padding: 0px;
    }
  }

  & .intro {
    font-family: var(--font-family-text);
    margin: 0 auto;
    max-width: var(--width);
    padding: 0 var(--gutter);
    width: 100%;

    & .splash {
      height: 800px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: var(--background);

      & .image {
        background-image: url("/images/profile-bg/geo/chile.jpg");
        background-position: 50%;
        background-size: cover;
        filter: saturate(150%) contrast(130%);
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & .gradient {
        background: linear-gradient(0deg, var(--dark), rgba(0, 0, 0, 0.6));
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    & .sublinks {
      padding-bottom: var(--gutter);
      text-align: center;
      lost-flex-container: row;
      lost-align: center;
      font-family: var(--font-family-title);
      color: var(--snow);

      & .sublink {
        padding: calc(var(--gutter)/4);
        font-weight: 300;
        display: inline-block;
        line-height: 2em;
        font-size: 12px;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        transition: opacity 0.2s;
        letter-spacing: 0.1em;

        &.selected {
          color: var(--accent);
          background-color: var(--snow);
          font-weight: 800;
          margin: 0;
        }
        &:hover {
          text-decoration: underline;
        }

        & img {
          display: block;
          //margin: 5px auto;
        }
      }
    }
  }

  & .section-container {
    lost-utility: clearfix;
    lost-flex-container: column;
    background-color: var(--dark);
  }

  & .section {
    padding: var(--gutter) calc(var(--gutter)/3);
    margin-bottom: var(--gutter);
    lost-center: 2/3;
    text-align: center;

    & h2 {
      color: var(--snow);
      font-family: var(--font-family-title);
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: var(--gutter);
      lost-column: 1;
      line-height: 1em;
    }

    & h3 {
      color: var(--snow);
      font-family: var(--font-family-title);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.1em;
      margin: var(--gutter) 0 calc(var(--gutter)/2) 0;
      lost-column: 1;
      line-height: 1.2em;
    }

    & p {
      font-family: var(--font-family-text);
      color: var(--snow);
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      text-align: justify;
      lost-column: 1;

      & a {
        color: var(--accent);
        font-weight: 800;
      }
    }
    & .use {
      font-family: var(--font-family-text);
      color: var(--accent);
      background-color: var(--snow);
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1.5;
      lost-column: 1;
      padding: calc(var(--gutter)/2);
    }
    & table {
      border-collapse: collapse;
      width: 100%;
      & thead {
        & th {
          color: var(--accent);
          text-transform: uppercase;
          width: 50%;
          padding: calc(var(--gutter)/2);
          vertical-align: middle;
          text-align: left;
        }
      }
      & tbody {
        & td {
          width: 50%;
          border: 1px solid var(--snow);
          color: var(--snow);
          padding: calc(var(--gutter)/2);
          vertical-align: middle;
          & a {
            color: var(--snow);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
  .about {
    & .intro {
      & .sublinks {
        & .sublink {
          lost-column: 1/3;
        }
      }
    }
    & .section {
      lost-column: 1;
      margin-bottom: 0px;
      & h2 {
        font-size: 30px;
      }
    }
  }
}

@add-mixin for-sm {
  .about {
    & .intro {
      & .sublinks {
        & .sublink {
          lost-column: 1/2;
          margin: 0 !important;
        }
      }
    }
  }
}

@add-mixin for-xs {
  .about {
    & .intro {
      & .sublinks {
        & .sublink {
          lost-column: 1;
          margin: 0 !important;
        }
      }
    }
  }
}

@add-mixin for-xx {
}
