@import "variables.css";

body {
  
 /* @media only screen and (max-width : var(--break-lg)) {
  
  }

  @media only screen and (max-width : var(--break-md)) {
  
  }

  @media only screen and (max-width : var(--break-sm)) {

  }

  @media only screen and (max-width : var(--break-xs)) {

  }

  @media only screen and (max-width : var(--break-xxs)) {

  }*/
}

.home {
  font-family: var(--font-family-chivo);

  & .splash {
    height: 800px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: var(--background);

    & .image {
      background-image: url("/images/profile-bg/home.png");
      background-position: 50%;
      background-size: cover;
      height: 800px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    & .gradient {
      background-color: rgba(25, 25, 40,0.5);
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  }

  & .intro {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;

    & .text {
      flex: 0.3;
      padding: 0px var(--gutter);

      & .title {
        color: var(--snow);
        font-size: 45px;
        font-weight: 300;
        margin: 10px 0px;
        font-family: var(--font-family-chivo);
      }

      & .lead {
        color: white;
        font-family: var(--font-family-chivo);
        font-weight: 300;
        font-size: 14px;
        color: var(--snow);
        letter-spacing: 0.06px;
        line-height: 19px;
        text-transform: uppercase;

      }

      @media only screen and (--small) {
        flex:1;
      }

    }

    & .search-home-wrapper{
      flex:0.6;
      background-color: var(--near-black);
      border-radius: var(--border-radius);
      padding: 15px 20px;
      margin: 0px var(--gutter);
      
      @media only screen and (--small) {
        flex:1;
      }
    }

    @media only screen and (--small) {
      flex-direction: column;
      align-items: stretch;
    }

  }

  & .title-tiles {
      font-weight: 400;
      text-transform: uppercase;
      font-family: var(--font-family-antonio);
      font-size: 24px;
      color: var(--snow);
      letter-spacing: 0.05px;
      margin-bottom: 40px;
      padding: 0px var(--gutter);
    }

  & .tiles {
    background-color: var(--dark);
    & .dc-container{    
      & .tiles-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      & .source-container{
        padding: var(--gutter);
      }
    }

  }

}
