@import "../pages/mixins";

.home {

  & .home-content {
    lost-flex-container: row;
    lost-align: center;
  }
  & .nav {
    position: absolute;
    z-index: 100;
  }

  & .home-link {
    color: var(--snow);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
  }

  & .splash {
    /* positioning */
    position: relative; /* necessary for image placement */
    z-index: 2; /* necessary for tooltip z-index managment */
    /* sizing */
    padding: 20vh 0 30vh 0; /* padding relative to viewport on small screens */

    /* fixed padding on taller screens */
    @media (min-height: 700px) {
      padding: 8.5rem 0 12.5rem 0;
    }

    & .image {
      /* positioning */
      @add-mixin absolute-expand;
      z-index: -10;
      /* theming */
      background-color: var(--near-black);
      background-position: 50%;
      background-size: cover;
      /* transitions */
      opacity: 0;

      &.selected {
        transition: opacity 0.5s ease-in-out 0.5s;
        opacity: 1;
      }
      &.bg-geo {
        background-image: url("/images/home/bg/geo.jpg");
      }
      &.bg-countries {
        background-image: url("/images/home/bg/countries.jpg");
      }
      &.bg-institutions {
        background-image: url("/images/home/bg/institutions.jpg");
      }
      &.bg-careers {
        background-image: url("/images/home/bg/careers.jpg");
      }
      &.bg-products {
        background-image: url("/images/home/bg/products.jpg");
      }
      &.bg-industries {
        background-image: url("/images/home/bg/industries.jpg");
      }
    }

    & .gradient {
      /* positioning */
      @add-mixin absolute-expand;
      z-index: -9;
      /* theming */
      background-color: rgba(25, 25, 40, 0.4);
      background:
        linear-gradient(
          color(var(--footer-bg) a(0.5)) -5%,
          rgba(25, 25, 40, 0.4) 33.333%,
          var(--near-black) 90%),
        radial-gradient(
          transparent 33.333%,
          color(var(--near-black) a(0.5))
        );
    }

    & .intro {
      max-width: 100%;
      width: 32rem;
      margin: 0 auto;

      & .text {
        padding: 0px var(--gutter);
        & .title {
          position: relative;
          margin: 0px;
          margin-right: -30px;
          & img {
            display: block;
            width: 80%;
            max-width: 12rem; /* keep logo size reasonable */
            margin: 0 auto;
          }
          & .easter {
            position: absolute;
            left: 55%;
            top: 16%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block;
          }
        }

        & .lead {
          margin: 0.5em 0;
          text-align: center;
          color: var(--snow); /* override heading deafult */
          text-shadow: 0 1px 1.5em rgba(0, 0, 0, 0.3);
        }
      }

      & .search-home-wrapper {
        width: 23rem;
        max-width: 100%;
        margin: 2.5em auto;
      }
    }
  }

  & .home-slider {
    lost-flex-container: column;
    lost-center: var(--width);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    & .home-slide-item {
      /* lost-column: 1/6 6 0px; */
      lost-column: 1/4 4 var(--gutter-half);
      & .home-slide-selected {
        display: block;
        height: 4px;
        width: 0px;
        transition: width 0.5s ease-in-out;
      }
      & .home-slide-content {
        border-top-style: solid;
        border-top-width: 3px;
        background-color: var(--near-black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover {
        }
        & .home-slide-btn {
          height: auto;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 1em 1em 1em 0.25em; /* optical alignment */
          margin-bottom: 20px;
          z-index: 1;

          /* label */
          & .home-slide-label {
            @add-mixin font-xs;
            color: var(--snow);
            line-height: 1em;
            /* transitions */
            opacity: 0.75;
            transition: opacity 0.2s;
          }

          /* icon positioning */
          & .home-slide-icon {
            display: inline;
            margin-right: 5px;
            width: 20px;
            height: 20px;
          }

          /* interactions */
          &:hover,
          &:focus,
          &.selected {
            & .home-slide-label {
              opacity: 1;
            }
          }
          /* hide outline unless using keyboard */
          &.selected,
          &:hover {
            outline: none;
          }
        }
        & .link {
          @add-mixin font-xxs;
          height: auto;
          @add-mixin body-font;
          padding: 0 15px var(--gutter) 15px;
          &:hover {
            color: var(--snow);
            text-decoration: none;
          }
        }
      }
      &.selected {
        & .home-slide-selected {
          width: 30%;
        }
      }
    }
  }

  /* about block */
  & .home-text {
    lost-flex-container: column;
    lost-center: var(--width);
    margin: var(--gutter) auto;
    & .l-col,
    & .r-col {
      lost-column: 1/2 2 3.5em;
      margin-bottom: var(--gutter);
      text-align: center;
    }
    & img {
      display: block;
      margin: 0 auto;
      width: 90%;
      max-width: 19rem;
    }
    & h2 {
      color: var(--accent);
      margin-bottom: var(--gutter);
    }
    & .l-col h2 {
      max-width: 190px;
      margin-left: auto;
      margin-right: auto;
    }
    /* about text */
    & p {
      @add-mixin font-md;
      @add-mixin font-smoothing;
      color: var(--darker-gray);
      text-align: left;
      /* highlights */
      & span {
        @add-mixin body-font-bold;
        font-size: inherit;
      }
    }
  }

  & .home-header {
    & h1 {
      text-align: center;
      color: var(--snow);
    }
  }

  & .home-section-title {
    lost-flex-container: row;
    lost-center: 1/3;
    margin: var(--gutter) auto var(--gutter) auto;
    & h2 {
      text-align: center;
      lost-column: 1;
      color: var(--accent);
      margin-bottom: var(--gutter);
    }
    & .home-section-title-img {
      lost-column: 1;
      text-align: center;
      margin: calc(var(--gutter)/2) auto;
      & img {
        height: 1.5rem;
      }
    }
  }

  & .home-featured-profiles {
    lost-flex-container: column;
    lost-center: var(--width);
    margin: var(--gutter) auto var(--gutter) auto;
    & .home-profile-carousels-container {
      lost-flex-container: row;
      lost-column: 1;
    }
  }

  /* position button */
  & .home-btn-container {
    width: 100%; /* needed because of flex on parent 😓 */

    & .btn {
      margin: 1em 0;
      min-width: 16em;
      max-width: 100%;
    }
  }

  & .home-sources {
    lost-flex-container: column;
    lost-center: var(--width);
    margin: var(--gutter) auto var(--gutter) auto;
    & .dataset-list {
      lost-flex-container: row;
      lost-column: 1;
      margin-bottom: var(--gutter);
      margin-top: calc(0 - var(--gutter));

      & .l-col,
      & .r-col {
        lost-column: 1/2 2 3.5em;
      }

      & .l-col {
        & span {
          text-align: right;
        }

        /* add in border on small screens */
        @add-mixin for-sm {
          & .dataset:last-of-type {
            border-bottom: 1px solid var(--accent);
          }
        }
      }
    }

    & .dataset {
      padding: var(--gutter-half) 0;

      /* add border, but not to the last one */
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--accent);
      }

      & span {
        display: block;
        width: 100%;

        /* source title */
        &.name {
          color: var(--snow);
          margin-bottom: 5px;
        }
        &.source {
          @add-mixin font-xxs;
          color: var(--gray-light);
        }
      }
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
  .home {
    & .home-featured-profiles,
    & .home-slider,
    & .home-text,
    & .home-sources {
      lost-column: 1 1;
      margin-top: 0; /* override lost */
      padding: 0 var(--gutter);
    }
    & .home-sources {
      lost-column: 1 1;
    }
  }
}

@add-mixin for-md {
  .home {
    & .home-slider {
      top: 0;
      & .home-slide-item {
        /* lost-column: 1/3 3 0px; */
        & .home-slide-content {
          padding-bottom: 0px;
        }
      }
    }
    & .home-text {
      lost-flex-container: row;
      & .l-col {
        lost-column: 1;
        padding: 0;
      }
      & .r-col {
        lost-column: 1;
        padding: 0;
      }
    }
    & .home-featured-profiles {
    }
    & .home-section-title {
      lost-column: 1;
      lost-center: 1;
    }
  }
}

@add-mixin for-sm {
  .home {
    & .home-slider {
      top: 0;
      & .home-slide-item {
        lost-column: 1/2 3 0px;
        /* lost-column: 1/3 3 0px; */
        & .home-slide-content {
          margin-bottom: 0px;
        }
      }
    }
    & .home-sources {
      & .dataset-list {
        & .l-col {
          lost-column: 1;
          & span {
            text-align: left;
          }
        }
        & .r-col {
          lost-column: 1;
        }
      }
    }
  }
}

@add-mixin for-xs {
  .home {
    & .home-slider {
      top: 0;
      & .home-slide-item {
        lost-column: 1/2 2 0px;
      }
    }
  }
}

@add-mixin for-xx {
  .home {
    & .home-slider {
      top: 0;
      & .home-slide-item {
        lost-column: 1 1 0px;
      }
    }
  }
}
