@import "../pages/mixins";

.home {
  font-family: var(--font-family-text);
  & .home-content {
    lost-flex-container: row;
    lost-align: center;
  }
  & .nav {
    position: absolute;
    z-index: 100;
  }

  & .splash {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    padding-top: 150px;

    & .image {
      background-color: var(--near-black);
      background-position: 50%;
      background-size: cover;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      z-index: var(--background);
      &.selected {
        transition: opacity 0.5s ease-in-out 0.5s;
        opacity: 1;
      }
      &.bg-geo {
        background-image: url("/images/home/bg/geo.jpg");
      }
      &.bg-countries {
        background-image: url("/images/home/bg/countries.jpg");
      }
      &.bg-institutions {
        background-image: url("/images/home/bg/institutions.jpg");
      }
      &.bg-careers {
        background-image: url("/images/home/bg/careers.jpg");
      }
      &.bg-products {
        background-image: url("/images/home/bg/products.jpg");
      }
      &.bg-industries {
        background-image: url("/images/home/bg/industries.jpg");
      }
    }

    & .gradient {
      background-color: rgba(25, 25, 40, 0.4);
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -9;
    }

    & .intro {
      lost-flex-container: column;
      width: 100%;
      justify-content: center;
      lost-align: center;
      lost-center: 1/3;
      & .text {
        padding: 0px var(--gutter);
        & .title {
          position: relative;
          font-size: 50px;
          letter-spacing: -1.25px;
          color: var(--snow);
          font-weight: 300;
          margin: 0px;
          font-family: var(--font-family-title);
          text-align: center;
          margin-right: -30px;
          & .easter {
            position: absolute;
            left: 57%;
            top: 16%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block;
          }
        }

        & .lead {
          font-family: var(--font-family-title);
          font-size: 18px;
          color: var(--snow);
          letter-spacing: 0.05px;
          font-weight: 300;
          text-align: center;
        }
      }

      & .search-home-wrapper {
        padding: var(--gutter);
        lost-column: 1;
      }
    }
  }

  & .home-slider {
    lost-flex-container: column;
    lost-center: 3/4;
    position: relative;
    top: -7px;
    z-index: 8;
    margin: 0 auto var(--gutter) auto;
    & .home-slide-item {
      padding: 0 15px;
      lost-column: 1/6 6 0px;
      & .home-slide-selected {
        display: block;
        height: 4px;
        width: 0px;
        transition: width 0.5s ease-in-out;
      }
      & .home-slide-content {
        border-top-style: solid;
        border-top-width: 3px;
        background-color: var(--near-black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover {
        }
        & .home-slide-clickable {
          cursor: pointer;
          margin: 10px;
          height: auto;
          & h3 {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            & span {
              font-family: var(--font-family-title);
              font-weight: 300;
              font-size: 12px;
              color: var(--snow);
              letter-spacing: 0.24px;
              text-transform: uppercase;
              line-height: 1em;
            }
            & img {
              display: inline;
              margin-right: 5px;
              width: 20px;
              height: 20px;
            }
          }
          & p {
            color: var(--snow);
            font-family: var(--font-family-text);
            font-weight: 300;
            font-size: 11px;
          }
        }
        & .link {
          height: auto;
          font-family: var(--font-family-text);
          font-size: 10px;
          letter-spacing: 0.09px;
          text-transform: uppercase;
          padding: 0 15px var(--gutter) 15px;
          &:hover {
            color: var(--snow);
            text-decoration: none;
          }
        }
      }
      &.selected {
        & .home-slide-selected {
          width: 30%;
        }
      }
    }
  }

  & .home-text {
    lost-flex-container: column;
    lost-center: 3/4;
    margin: var(--gutter) auto var(--gutter) auto;
    & .l-col {
      lost-column: 1/2;
      border-width: 2px 0 0 2px;
      border-color: var(--medium-gray);
      border-style: solid;
      padding: var(--gutter);
    }
    & .r-col {
      lost-column: 1/2;
      border-width: 0 2px 2px 0;
      border-color: var(--medium-gray);
      border-style: solid;
      padding: var(--gutter);
    }
    & h2 {
      font-family: var(--font-family-title);
      font-size: 20px;
      text-transform: uppercase;
      color: var(--accent);
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: var(--gutter);
      letter-spacing: 3px;
    }
    & p {
      font-family: var(--font-family-text);
      font-size: 14px;
      color: var(--snow);
      font-weight: 300;
      & span {
        color: var(--accent);
        font-weight: 800;
      }
    }
  }

  & .home-header {
    & h1 {
      text-align: center;
      color: var(--snow);
    }
  }

  & .home-section-title {
    lost-flex-container: row;
    lost-center: 1/3;
    margin: var(--gutter) auto var(--gutter) auto;
    & h2 {
      text-align: center;
      lost-column: 1;
      font-family: var(--font-family-title);
      font-size: 20px;
      text-transform: uppercase;
      color: var(--accent);
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: var(--gutter);
      letter-spacing: 3px;
    }
    & .home-section-title-img {
      lost-column: 1;
      text-align: center;
      margin: calc(var(--gutter)/2) auto;
      & img {
        height: 20px;
      }
    }
  }

  & .home-featured-profiles {
    margin: var(--gutter) 0;
    & .home-featured-tiles {
      lost-flex-container: column;
      lost-center: 3/4;
      & .tile {
        lost-waffle: 1/4;
      }
    }
  }

  & .home-sources {
    lost-flex-container: column;
    lost-center: 3/4;
    margin: var(--gutter) auto var(--gutter) auto;
    & .dataset-list {
      lost-flex-container: row;
      lost-column: 1;
      margin-bottom: var(--gutter);
      & .l-col {
        lost-column: 1/2;
        & span {
          text-align: right;
        }
      }
      & .r-col {
        lost-column: 1/2;
      }
    }
    & .dataset {
      border-bottom: 1px solid var(--accent);
      padding: calc(var(--gutter)/2) 0px;
      margin: 0 15px;
      & span {
        display: block;
        width: 100%;
        &.name {
          font-family: var(--font-family-title);
          color: var(--snow);
          text-transform: uppercase;
          font-weight: 300;
          font-size: 14px;
          margin-bottom: 5px;
          letter-spacing: 0.1em;
        }
        &.source {
          color: var(--accent);
          font-family: var(--font-family-title);
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
  .home {
    & .home-featured-profiles {
      & .home-featured-tiles {
        lost-column: 1;
        padding: 0 var(--gutter);
        & .tile {
          lost-waffle: 1/4;
        }
      }
    }
  }
}

@add-mixin for-md {
  .home {
    & .splash {
      & .intro {
        lost-center: 1/2;
      }
    }
    & .home-featured-profiles {
      & .home-featured-tiles {
        & .tile {
          lost-waffle: 1/3;
        }
      }
    }
    & .home-slider {
      top: 0;
      & .home-slide-item {
        lost-column: 1/3 3 0px;
        & .home-slide-content {
          padding-bottom: 0px;
        }
      }
    }
    & .home-text {
      lost-flex-container: row;
      & .l-col {
        lost-column: 1;
      }
      & .r-col {
        lost-column: 1;
      }
    }
  }
}

@add-mixin for-sm {
  .home {
    & .splash {
      & .intro {
        lost-column: 1;
      }
    }
    & .home-featured-profiles {
      & .home-featured-tiles {
        & .tile {
          lost-waffle: 1/2;
        }
      }
    }
    & .home-slider {
      top: 0;
      & .home-slide-item {
        lost-column: 1/3 3 0px;
        & .home-slide-content {
          margin-bottom: 0px;
        }
      }
    }
  }
}

@add-mixin for-xs {
  .home {
    & .home-featured-profiles {
      & .home-featured-tiles {
        & .tile {
          lost-waffle: 1;
        }
      }
    }
    & .home-slider {
      top: 0;
      & .home-slide-item {
        lost-column: 1/2 2 0px;
      }
    }
  }
}

@add-mixin for-xx {
  .home {
    & .home-slider {
      top: 0;
      & .home-slide-item {
        lost-column: 1 1 0px;
      }
    }
  }
}
