@import "./mixins";

.profile {
  font-family: var(--font-family-text);

  & .intro {
    color: var(--snow);
    margin: 0 auto;
    position: relative;
    width: 100%;
    overflow: hidden;

    & .splash {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: var(--background);

      & .image {
        background-position: 50%;
        background-size: cover;
        filter: saturate(80%) contrast(130%);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & .gradient {
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background-image: linear-gradient(
          -180deg,
          rgba(3, 16, 54, 0.16) 0%,
          rgba(6, 13, 41, 0.72) 56%,
          #080b23 100%
        );
      }
    }

    & .header {
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }

    & .datum-full-width {
      lost-column: 1 flex;
      padding: 0px var(--gutter);
      lost-flex-container: row;
      margin: 100px 0px;
      & .featured-datum-splash {
        lost-column: 1/3 flex;
      }
    }

    & .meta {
      box-sizing: border-box;
      display: inline-block;
      lost-column: 1/3 flex;
      vertical-align: top;
      padding: 0px var(--gutter);
      & .title {
        font-family: var(--font-family-text);
        font-weight: 300;
        font-size: 45px;
        color: var(--snow);
        margin: 10px 0px;
      }

      & .subtitle {
        text-transform: uppercase;
        font-family: var(--font-family-text);
        font-weight: 300;
        font-size: 14px;
        color: var(--snow);
        margin-bottom: 40px;
        & a {
          color: var(--snow);
        }
      }

      & .parent {
        text-transform: uppercase;
        font-family: var(--font-family-text);
        font-weight: 300;
        font-size: 14px;
        color: var(--snow);
        & a {
          color: var(--snow);
        }
      }

      & .stat-group {
        margin-bottom: 30px;
        & .stat {
          & .label {
            font-family: var(--font-family-text);
            font-weight: 300;
            font-size: 13px;
            color: #ffffff;
            letter-spacing: -0.05px;
          }

          & .value {
            font-family: var(--font-family-title);
            font-weight: 400;
            font-size: 21px;
            color: var(--snow);
            letter-spacing: 0.05px;
          }
        }
        & .source {
          font-size: 10px;
        }
      }
    }

    & .candidates {
      lost-column: 1/3 flex;
    }

    & .map-region {
      position: absolute;
      z-index: 100;
      right: 0;
      top: 0;
      pointer-events: none;
      & .d3plus-geomap-paths {
        & .d3plus-Shape {
          pointer-events: all;
          cursor: pointer;
          transition: fill 0.5s ease;
          &:hover {
            fill: var(--snow);
          }
        }
      }
    }

    & .map-comuna {
      lost-column: 1/3 flex;
      align-self: center;
      pointer-events: all;
      position: relative;
      min-height: 500px;
      padding-right: 60px;
    }

    & .topics-selector-container {
    }

    & .arrow-container {
      lost-flex-container: row;
      justify-content: center;
      & a {
        padding: var(--gutter) 0;
        & path  {
          fill: var(--snow);
        }
        &:hover {
          & path  {
            fill: var(--accent);
          }
        }
      }
    }

    /*& .subnav {
      margin: 0 var(--gutter);
      text-align: right;

      & .sublink {
        color: white;
        display: inline-block;
        font-size: 10px;
        letter-spacing: 0.05px;
        margin: 0px 25px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0.9;
        transition: opacity 0.2s;
        font-family: var(--font-family-text);
        font-weight: 400;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        & .svg-image {
          display: block;
          margin: 10px auto;
          & .fill-color {
            fill: var(--snow);
          }
          & .stroke-color {
            stroke: var(--snow);
          }
        }
      }
    }*/

    & .sources {
      padding: var(--gutter);
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
  .profile {
    & .intro {
      & .datum-full-width {
        justify-content: space-around;
        & .featured-datum-splash {
          lost-column: 4/9 2;
        }
      }
    }
  }
}

@add-mixin for-sm {
  .profile {
    & .intro {
      & .datum-full-width {
        justify-content: space-around;
        & .featured-datum-splash {
          lost-column: 1/2 2;
        }
      }
    }
  }
}

@add-mixin for-xs {
  .profile {
    & .intro {
      & .datum-full-width {
        justify-content: space-around;
        & .featured-datum-splash {
          lost-column: 1 1;
        }
      }
    }
  }
}

@add-mixin for-xx {
}
