@import "./mixins";

.not-found.profile {
  & .intro  {
    /* hide redundant heading */
    & h1 [aria-hidden=true] {
      display: none;
    }
    & .splash {
      & .image {
        background-image: url("/images/profile-bg/not_found.jpg");
      }
    }
    & .header {
      lost-flex-container: column;
      & .search-container {
        lost-center: 3/4;
        margin: var(--gutter) 0 calc(var(--gutter)*10) 0;
      }
      & .text-container {
        margin-top: var(--gutter);
        margin-top: var(--gutter-half);
        lost-center: 1/2;
        text-align: center;
      }
    }
  }
}
