.not-found.profile {
  & .intro  {
    & .splash {
      & .image {
        background-image: url("/images/profile-bg/not_found.jpg");
      }
    }
    & .header {
      lost-flex-container: column;
      & .search-container {
        lost-column: 1/2;
        lost-offset: 1/4;
        margin: var(--gutter) 0 calc(var(--gutter)*10) 0;
      }
      & .text-container {
        margin: calc(var(--gutter)*2) 0 var(--gutter) 0;
        lost-column: 1/2;
        lost-offset: 1/4;
        & h2 {
          font-family: var(--font-family-text);
          font-size: 20px;
          color: var(--snow);
          font-weight: 700;
          text-align: center;
        }
        & p {
          font-family: var(--font-family-text);
          font-size: 18px;
          color: var(--snow);
          letter-spacing: 0.05px;
          font-weight: 300;
          text-align: center;
        }
      }
    }
  }
}
