@import "../pages/mixins";

.topics-container {
  padding-top: 3rem; /* space out from splash */
  background-color: var(--footer-bg);
}

/* layout for topic-heading and topic-tabs */
.topic-header {

  /* side by side layout on bigger screens */
  @add-mixin from-md {
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* positioning */
    padding-left: 2.25rem;
  }
}

/* panel style */
.topic-slide-container {
  /* theming */
  background-color: var(--near-black);
  border-radius: 2px 0 2px 2px;
  /* sizing */
  padding: 2.25rem;

  /* less white space on smaller screens */
  @add-mixin for-md {
    /* extend background, reduce padding */
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    /* remove border */
    border-top-left-radius: 0;
  }

  /* default / hidden state */
  & .slick-slide {
    transform: translateY(10px);
    transition:
      opacity 0.1s ease-in,
      transform 0.1s ease-in !important;

    /* prevent click & hover events on inactive slides */
    &:not(.slick-active) {
      visibility: hidden;
      pointer-events: none;
      z-index: -1;
    }

    /* active state */
    &.slick-active {
      transform: none;
      transition:
        opacity 0.2s ease-in 0.1s,
        transform 0.2s ease-in 0.1s !important;
    }
  }
}

/* container for topic title, nav, and slider */
.topic-block {
  background-color: var(--footer-bg);
  color: var(--snow);
  padding:
    var(--gutter-half)
    var(--gutter)
    var(--gutter)
    var(--gutter);

  /* offset scroll position when using topic anchor links */
  & .topic-anchor-link {
    bottom: 40px;
  }
}

/* inside the slide */
.topic-slide-block {

  /* side by side layout */
  @add-mixin from-md {
    display: flex;
    justify-content: space-between;

    /* text content */
    & .topic-slide-intro {
        @add-mixin font-xs;
        width: 25%;

      & + .topic-slide-charts {
        width: calc(75% - 3rem);
      }
    }
  }




  /* visualizations */
  & .topic-slide-charts {

    & .trade-balance-container {
      width: 100%;
    }

    /* position chart title and export controls */
    & .chart-title {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    /* canon overrides 😡 */
    & .section {
      padding: 0;
    }
    & .viz {
      margin: 0; /* canon override */
      min-height: 400px;
    }
  }
}
