@import "../pages/mixins";

.topics-container {
  padding-top: 3rem; /* space out from splash */
  background-color: var(--black);

  /* de-emphasize text slightly */
  & p,
  & li {
    color: var(--light-1);
  }
}

/* layout for topic-heading and topic-tabs */
.topic-header {

  /* side by side layout on bigger screens */
  @add-mixin from-md {
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* positioning */
    padding-left: 2.25rem;
  }
}

/* panel style */
.topic-slide-container {
  /* theming */
  background-color: var(--dark-3);
  border-radius: 2px 0 2px 2px;
  /* sizing */
  padding: 2.25rem;

  /* less white space on smaller screens */
  @add-mixin for-md {
    /* extend background, reduce padding */
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    /* remove border */
    border-top-left-radius: 0;
  }

  /* default / hidden state */
  & .slick-slide {
    transform: translateY(10px);
    transition:
      opacity 0.1s ease-in,
      transform 0.1s ease-in !important;

    /* prevent click & hover events on inactive slides */
    &:not(.slick-active) {
      visibility: hidden;
      pointer-events: none;
      z-index: -1;
    }

    /* active state */
    &.slick-active {
      transform: none;
      transition:
        opacity 0.2s ease-in 0.1s,
        transform 0.2s ease-in 0.1s !important;
    }
  }
}

/* container for topic title, nav, and slider */
.topic-block {
  background-color: var(--black);
  color: var(--white);
  padding:
    var(--gutter-half)
    var(--gutter)
    var(--gutter)
    var(--gutter);

  /* offset scroll position when using topic anchor links */
  & .topic-anchor-link {
    bottom: 40px;
  }
}

/* inside the slide */
.topic-slide-block {

  /* side by side layout */
  @add-mixin from-md {
    display: flex;
    justify-content: space-between;

    /* text content */
    & .topic-slide-intro {
        @add-mixin font-xs;
        width: 25%;

      & + .topic-slide-charts {
        width: calc(75% - 3rem);
      }
    }
  }

  /* space out featured data from other text content */
  & .topic-slide-data {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* line up featured data on smaller screens */
  @media (min-width: 400px) and (max-width: 991px) {
    & .topic-slide-data {
      display: flex;
      justify-content: space-between;

      & .featured-datum {
        width: 33%;
        flex-direction: column;
        text-align: center;

        & .featured-datum-icon {
          max-width: 3rem;
          margin-left: auto;
          margin-right: auto;
        }

        & .featured-datum-data {
          @add-mixin font-xxl;
          line-height: 1.5;
          display: block;
          margin-right: 0;
        }
      }
    }
  }

  /* context info (i.e., SNED) */
  & .topic-slide-context-subhead {
    margin-top: 1.5rem;
  }

  /* visualizations */
  & .topic-slide-charts {

    /* centered icons */
    &.centered-topic-slide-charts {
      text-align: center;
      max-width: calc(50rem);
      margin-left: auto;
      margin-right: auto;

      /* offset margin between intro & viz columns on medium screens */
      @media (min-width: 992px) and (max-width: 1599px) {
        left: 2.25rem;
      }

      & .chart-title {
        display: inline-block;
      }
    }

    /* position chart title and export controls */
    & .chart-title {
      @add-mixin font-sm;
      line-height: 1.125;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      /* align with title */
      margin-top: 0.325rem;
      /* override blueprint */
      margin-bottom: 0.5rem;
    }

    /* space out button group & option group from visualization */
    & * + .btn-group,
    & * + .option-group {
      margin-top: 1rem;
    }

    /* canon overrides 😡 */
    & .section {
      padding: 0;
    }
    & .viz {
      margin: 0; /* canon override */
      min-height: 400px;
    }
  }
}

/* prevent mouseover event for hacky legends */
.prevent-legend-hover .d3plus-Legend .d3plus-HitArea {
  display: none !important;
}
