@import "../pages/mixins";

.footnote {
  & .chart-text {
    font-size: 12px!important;
  }
}

.topic-block {
  background-color: var(--dark);
  color: var(--snow);
  lost-utility: clearfix;
  & .topic-header {
    & .topic-title {
      lost-flex-container: row;
      margin: var(--gutter) var(--gutter) 0 var(--gutter);
      lost-utility: clearfix;
      & h2 {
        font-family: var(--font-family-title);
        font-size: 55px;
        text-transform: uppercase;
        font-weight: 300;
        color: var(--snow);
        margin-bottom: 0px;
        lost-column: 1/2 flex;
        line-height: 1em;
        & .small {
          text-transform: none;
          font-family: var(--font-family-text);
          font-size: 44px;
          font-weight: 300;
          & .pipe {
            margin: 0 10px;
          }
        }
        &.full-width {
          lost-column: 1 flex;
        }
      }
      & .topic-slider-bullets {
        lost-column: 1/2 flex;
      }
    }
  }
  & .topic-slide-block {
    & section.section {
      & .columns {
        flex-direction: row;
      }
    }
    & .topic-slide-intro {
      margin: 0 var(--gutter);
      lost-flex-container: row;
      & .topic-slide-title {
        lost-column: 1 flex;
        font-family: var(--font-family-text);
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-bottom: calc(var(--gutter) / 2);

        & .topic-slide-subtitle {
          color: #ffe0b2;
          lost-column: 1 flex;
          font-size: 14px;
          font-weight: 300;
          text-transform: none;
        }
      }
      & .topic-slide-text {
        lost-column: 1/3 flex;
        font-family: var(--font-family-text);
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 20px;

        & a {
          color: #6099ea;
        }
      }
      & .topic-slide-text-full {
        lost-column: 1 1 flex;
        font-family: var(--font-family-text);
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 22px;
      }
      & .topic-slide-link-list {
        lost-column: 1/3 flex;
        font-family: var(--font-family-text);
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 22px;
      }
      & .topic-slide-data {
        lost-column: 2/3 flex;
        lost-flex-container: row;
        & .featured-datum {
          &.l-1-3 {
            lost-column: 1/3 flex;
          }
          &.l-1-2 {
            lost-column: 1/2 flex;
          }
        }
        & .l-2-3 {
          lost-column: 2/3 flex;
        }
      }
    }
    & .chart-title {
      font-family: var(--font-family-text);
      font-size: 16px;
      text-transform: uppercase;
      color: var(--snow);
      font-weight: 300;
      padding: 0 15px;
      line-height: 1.2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & .viz {
      min-height: 500px;
    }
    & .trade-balance {
      & .viz {
        min-height: auto;
      }
    }
    & .chart-text {
      font-family: var(--font-family-text);
      padding: 0 15px;
      color: var(--snow);
      font-size: 14px;
      font-weight: 300;
    }
    & .topic-slide-charts {
      & .ticks .d3plus-Rect-text,
      & .d3plus-Line-text,
      & .d3plus-Axis-title {
        & text {
          fill: var(--snow) !important;
        }
      }
      & .d3plus-plot-x2-axis {
        & line.bar {
          stroke: none;
        }
      }
      & .d3plus-plot-y-axis {
        & g:last-child {
          & line.bar {
            //stroke: none;
          }
        }
      }
      & .d3plus-viz-timeline {
        & .bar {
          stroke: var(--snow);
        }
        & .d3plus-Rect-shape rect {
          fill: var(--snow);
          stroke: var(--snow);
        }
        & .brushGroup {
          & .handle {
            fill: var(--accent);
          }
          & .selection {
            fill: var(--snow);
          }
        }
      }
      & .info-logo-container {
        lost-flex-container: row;
        & .info-logo-item {
          lost-column: 1/3 flex;
        }
      }
      & .lost-1-2 {
      }
    }
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
}

@add-mixin for-md {
  .topic-block {
    & .topic-header {
      & .topic-title {
        & h2 {
          lost-column: 1 flex;
          font-size: 50px;
          & .small {
            font-size: 25px;
            display: inline-block;
            & .pipe {
            }
          }
        }
        & .topic-slider-bullets {
          lost-column: 1 flex;
          text-align: center;
        }
      }
    }
    & .topic-slide-block {
      & .topic-slide-intro {
        & .topic-slide-title {
        }
        & .topic-slide-text {
          lost-column: 1 flex;
        }
        & .topic-slide-link-list {
          lost-column: 1 flex;
        }
        & .topic-slide-data {
          lost-column: 1 flex;
        }
        & .topic-slide-charts {
          & .lost-1-2,
          & .lost-1-3 {
            lost-column: 1/2 flex;
          }
          & .info-logo-container {
            & .info-logo-item {
              lost-column: 1/2 flex;
            }
          }
        }
      }
    }
  }
}

@add-mixin for-sm {
  .topic-block {
    & .topic-header {
      & .topic-title {
        margin: calc(var(--gutter) / 2) calc(var(--gutter) / 2) 0
          calc(var(--gutter) / 2);
        & h2 {
          font-size: 30px;
          & .small {
            font-size: 20px;
            & .pipe {
            }
          }
        }
        & .topic-slider-bullets {
          lost-column: 1 flex;
          text-align: center;
        }
      }
    }
    & .topic-slide-block {
      & section.section {
        & .columns {
          flex-direction: row;
        }
      }
      & .chart-title {
        padding: 0;
      }
      & .viz {
        margin: calc(var(--gutter) / 2) 0;
      }
      & .topic-slide-intro {
        margin: 0 calc(var(--gutter) / 2);
        & .topic-slide-title {
        }
        & .topic-slide-text {
          lost-column: 1 flex;
        }
        & .topic-slide-link-list {
          lost-column: 1 flex;
        }
        & .topic-slide-data {
          justify-content: space-around;
          & .featured-datum {
            &.l-1-3 {
              lost-column: 1 1 flex;
            }
            &.l-1-2 {
              lost-column: 1 1 flex;
            }
          }
          & .l-2-3 {
            lost-column: 1 1 flex;
          }
        }
      }
      & .topic-slide-charts {
        & .lost-1-2,
        & .lost-1-3 {
          lost-column: 1 flex;
        }
        & .info-logo-container {
          & .info-logo-item {
            lost-column: 1 flex;
          }
        }
      }
    }
  }
}

@add-mixin for-xs {
  .topic-block {
    & .topic-slide-block {
      & section.section {
        & .columns {
          display: block;
        }
      }
      & .topic-slide-intro {
        & .topic-slide-data {
          & .featured-datum {
            margin-left: 32px;
            &.l-1-3 {
              lost-column: 1 1 flex;
            }
            &.l-1-2 {
              lost-column: 1 1 flex;
            }
          }
          & .l-2-3 {
            lost-column: 1 1 flex;
          }
        }
      }
    }
  }
}

.pt-overlay {
  z-index: 999;
}

@add-mixin for-xx {
}
