.data-content {
	& .table {
		& .rt-thead {
			& .rt-th {
				background: var(--nice-blue);
				font-weight: 800;
				color: var(--snow);
				text-transform: uppercase;
				padding: 15px 5px;
				text-align: left;
			}
		}
		& .rt-tbody {
			& .rt-td {
				background: var(--snow);
				padding: 15px 5px;
			}
		}
	}
}
