@import "../../mixins";

.data-content {
  @add-mixin body-font;
  & .no-data-available {
    color: #ffffff;
  }
  & .table {
    @add-mixin font-xs;
    & .rt-thead {
      overflow-x: hidden;
      /* overflow-y: scroll; */
      & .rt-th {
        background: var(--accent);
        color: var(--snow);
        padding: 15px;
        text-align: left;
        @add-mixin body-font;
      }
    }
    & .rt-tbody {
      & .rt-tr-group {
        border-width: 0px;
      }
      & .rt-td {
        @add-mixin body-font;
        background: var(--snow);
        color: #808080;
        padding: 15px;
        border-right: 1px solid rgba(0, 0, 0, .2);
      }
    }
    & .pagination-bottom {
      background-color: var(--snow);
    }
  }
}
