.data-content {
  font-family: var(--font-family-text);
  & .no-data-available {
    color: #ffffff;
  }
  & .table {
    font-size: 12px;
    & .rt-thead {
      overflow-x: hidden;
      //overflow-y: scroll;
      & .rt-th {
        background: var(--nice-blue);
        font-weight: 800;
        color: var(--snow);
        text-transform: uppercase;
        padding: 15px;
        text-align: left;
        font-family: var(--font-family-text);
      }
    }
    & .rt-tbody {
      & .rt-tr-group {
        border-width: 0px;
      }
      & .rt-td {
        font-family: var(--font-family-text);
        background: var(--snow);
        color: #808080;
        padding: 15px;
        border-right: 1px solid rgba(0, 0, 0, .2);
      }
    }
    & .pagination-bottom {
      background-color: var(--snow);
    }
  }
}
