.profile {
  font-family: var(--font-family-chivo);

  & .intro {
    color: white;
    margin: 0 auto;
    position: relative;
    width: 100vw;

    & .splash {
      height: 800px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: var(--background);

      & .image {
        background-position: 50%;
        background-size: cover;
        filter: saturate(150%) contrast(130%);
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & .gradient {
        background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 80%, rgba(255,255,255,0.5) 90%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 80%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 80%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#ffffff',GradientType=0 );
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

    }

    & .header {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      width: 80%;
    }

    & .viz {
      box-sizing: border-box;
      display: inline-block;
      flex: 1;
      margin: 100px 25px;
      vertical-align: top;
    }

    & .meta {
      box-sizing: border-box;
      display: inline-block;
      flex: 1;
      margin: 100px 25px;
      vertical-align: top;

      & .title {
        font-family: var(--font-family-chivo);
        font-weight: 300;
        font-size: 45pt;
        color: var(--snow);
      }

      & .subtitle {
        text-transform: uppercase;
        font-family: var(--font-family-chivo);
        font-weight: 300;
        font-size: 14pt;
        color: var(--snow);
      }

      & .parent {
        text-transform: uppercase;
        font-family: var(--font-family-chivo);
        font-weight: 300;
        font-size: 14pt;
        color: var(--snow);
      }

      & .stat {
        margin: 25px 0;

        & .label {
          font-size: 12px;
          font-weight: 600;
          margin-left: 2px;
          text-transform: uppercase;
        }

        & .value {
          font-size: 32px;
          font-weight: 300;
        }

      }

    }

    & .subnav {
      margin: 0 auto;
      padding: 25px;
      text-align: center;

      & .sublink {
        color: white;
        display: inline-block;
        font-size: 12px;
        margin: 25px;
        opacity: 0.5;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }

        & img {
          display: block;
          margin: 5px auto;
        }

      }

    }

  }

}
