.profile {
  font-family: var(--font-family-chivo);

  & .intro {
    color: white;
    margin: 0 auto;
    position: relative;
    width: 100%;
    overflow: hidden;

    & .splash {
      height: 800px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: var(--background);

      & .image {
        background-position: 50%;
        background-size: cover;
        filter: saturate(150%) contrast(130%);
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & .gradient {
        background-color: rgba(0,0,0,0.5);
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

    }

    & .header {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      margin-top: 200px;
    }

    & .meta {
      box-sizing: border-box;
      display: inline-block;
      flex: 0.3;
      vertical-align: top;
      margin: var(--gutter);
      & .title {
        font-family: var(--font-family-chivo);
        font-weight: 300;
        font-size: 45px;
        color: var(--snow);
        margin: 10px 0px;
      }

      & .subtitle {
        text-transform: uppercase;
        font-family: var(--font-family-chivo);
        font-weight: 300;
        font-size: 14px;
        color: var(--snow);
        margin-bottom: 40px;
      }

      & .parent {
        text-transform: uppercase;
        font-family: var(--font-family-chivo);
        font-weight: 300;
        font-size: 14px;
        color: var(--snow);
      }

      & .stat {
        margin: 25px 0;

        & .label {
          font-family: var(--font-family-chivo);
          font-weight: 300;
          font-size: 13px;
          color: #FFFFFF;
          letter-spacing: -0.05px;
        }

        & .value {
          font-family: var(--font-family-antonio);
          font-weight: 400;
          font-size: 21px;
          color: var(--snow);
          letter-spacing: 0.05px;
          margin-bottom: 10px;
        }

      }

    }

    & .map-region{
      flex: 0.2;
      align-self: center;
    }

    & .map-comuna{
      flex: 0.5;
      align-self: center;
      & .map-comuna-circle{
        border-radius: 50%;
        width: 400px;
        padding-top: 400px;
        position: relative;
        border: 2px solid white;
        overflow: hidden;
        & .viz{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }

    & .subnav {
      margin: 0 var(--gutter);
      text-align: right;

      & .sublink {
        color: white;
        display: inline-block;
        font-size: 10px;
        letter-spacing: 0.05px;
        margin: 0px 25px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0.9;
        transition: opacity 0.2s;
        font-family: var(--font-family-chivo);
        font-weight: 400;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        & img {
          display: block;
          margin: 10px auto;
        }

      }

    }

    & .sources {
      padding: var(--gutter);
    }

  }

}
