.topic-block {
  & .topic-go-to-targets {
    & ul {
      & li {
        display: inline-block;
        margin: 5px;
      }
    }
  }

  & .topic-slide-block {
    & .topic-slide-intro {
      margin: 0 30px;
    }
  }

  & .lost-1-2 {
    lost-column: 1/2;
  }
}
