@import "../mixins";

.explore-page {
  & .search-explore-wrapper {
    lost-flex-container: row;
    padding: var(--gutter);
    lost-center: 1/3 flex;
    margin-bottom: var(--gutter);
  }
  & .explore-title {
    lost-flex-container: row;
    margin: calc(var(--gutter)*2) var(--gutter) calc(var(--gutter)*2)
      var(--gutter);
    & h3 {
      color: var(--snow);
      @add-mixin heading-font;
      line-height: 1em;
    }
  }
  & .explore-container {
    lost-flex-container: row;
    flex-basis: auto;
    margin-bottom: calc(var(--gutter)*3);
    & #explore-sidebar {
      lost-column: 1/4;
      & ul {
        padding: 0px;
        list-style: none;
        & li {
          margin: 15px 0px var(--gutter) 0px;
          & a.link {
            display: flex;
            align-items: center;
            & img {
              width: 25px;
              height: 25px;
            }
            & span {
              @add-mixin font-xs;
              margin-left: 15px;
              color: var(--snow);
              text-transform: uppercase;
              @add-mixin heading-font;
              padding: 10px 0px 5px 0px;
              border-bottom: 1px solid var(--dark);
            }
            &:hover {
              text-decoration: none;
            }
            &.link-soon {
              opacity: 0.5;
            }
          }
        }
        & li.selected {
          & a {
            & span {
              border-color: var(--snow);
            }
          }
        }
      }
    }

    & #explore-results {
      lost-column: 3/4;
      & .filter-block {
        & .explore-featured-tiles {
          lost-flex-container: column;
          lost-center: 1;
          & .level1-filter {
            lost-waffle: 1/4;
            padding: 5px 0px;
            border-bottom: 1px solid var(--dark);
            &.selected {
              border-color: var(--snow);
            }
          }
        }
        & ul {
          margin: var(--gutter) 0;
          padding: 0;
          list-style: none;
          & li.level1-filter {
            color: var(--snow);
            text-transform: uppercase;
            cursor: pointer;
            & span {
              border-bottom: 1px solid var(--dark);
            }
            &.selected {
              & span {
                border-color: var(--snow);
              }
            }
          }
        }
      }
      & .results-block {
        & h3,
        & h4 {
          color: var(--snow);
          @add-mixin heading-font;
          line-height: 1em;
          margin: calc(var(--gutter) * 2) 0;
          padding-top: var(--gutter);
        }

        & h4 {
          margin: var(--gutter) 0;
        }

        & .explore-list {
          margin: var(--gutter) 0;
          padding: 0;
          lost-flex-container: column;
          lost-center: 1;
          list-style: none;
          & li {
            lost-waffle: 1/4;
          }
        }
        & .list-title {
          margin-top: calc(var(--gutter));
          & a {
            color: var(--snow);
            text-transform: uppercase;
            @add-mixin heading-font;
          }
        }
      }
    }
  }

  & .explore-column {
    padding: 0px var(--gutter-half);
  }
}

@add-mixin for-xl {
}

@add-mixin for-lg {
  .explore-page {
    & .search-explore-wrapper {
      lost-center: 1/2 flex;
    }
    & .explore-container {
      & #explore-results {
        & .filter-block {
          & .explore-featured-tiles {
            & .level1-filter {
            }
          }
        }
        & .results-block {
          & .explore-list {
            & li {
              lost-waffle: 1/3;
            }
          }
        }
      }
    }
  }
}

@add-mixin for-md {
  .explore-page {
    & .search-explore-wrapper {
      lost-center: 1/2 flex;
    }
    & .explore-title {
      margin: 0 var(--gutter) 0 var(--gutter);
    }
    & .explore-container {
      & #explore-sidebar {
        lost-column: 1 flex;
        & .explore-column {
          & ul {
            lost-flex-container: row;
            & li {
              lost-column: 1/4 flex;
              & a.link-soon {
                & span {
                  & small {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
      & #explore-results {
        lost-column: 1 flex;
        & .filter-block {
          & .explore-featured-tiles {
            & .level1-filter {
              lost-waffle: 1/3;
            }
          }
        }
        & .results-block {
          & .explore-list {
            & li {
              lost-waffle: 1/3;
            }
          }
        }
      }
    }
  }
}

@add-mixin for-sm {
  .explore-page {
    & .search-explore-wrapper {
      lost-column: 1 flex;
    }
    & .explore-container {
      & #explore-sidebar {
        & .explore-column {
          & ul {
            & li {
              lost-column: 1/3 flex;
            }
          }
        }
      }
      & #explore-results {
        & .filter-block {
          & .explore-featured-tiles {
            & .level1-filter {
              lost-waffle: 1/2;
            }
          }
        }
        & .results-block {
          & .explore-list {
            & li {
              lost-waffle: 1/2;
            }
          }
        }
      }
    }
  }
}

@add-mixin for-xs {
  .explore-page {
    & .search-explore-wrapper {
      lost-column: 1 flex;
    }
    & .explore-container {
      & #explore-sidebar {
        & .explore-column {
          & ul {
            & li {
              lost-column: 1/2 flex;
            }
          }
        }
      }
      & #explore-results {
        & .filter-block {
          & .explore-featured-tiles {
            & .level1-filter {
              lost-waffle: 1;
            }
          }
        }
        & .results-block {
          & .explore-list {
            & li {
              lost-waffle: 1;
            }
          }
        }
      }
    }
  }
}

@add-mixin for-xx {
  .explore-page {
    & .search-explore-wrapper {
      lost-column: 1 flex;
    }
  }
}
