@import "../../mixins";

.map-api-call {
  lost-column: 5/5;
  lost-flex-container: row;
  align-items: center;
  margin-top: 25px;
  & .label-container {
    lost-column: 1/5 2;
    text-align: right;
    & label {
      @add-mixin font-xs;
      text-transform: uppercase;
      color: var(--light-3);
      @add-mixin body-font;
      line-height: 1em;
    }
  }
  & .input-container {
    lost-column: 4/5 2;
    & input {
      @add-mixin font-xxs;
      height: 32px;
      width: 90%;
      @add-mixin body-font;
      background-color: var(--white);
      text-align: center;
      padding: 5px;
      border: 1px solid var(--light-2);
      color: var(--light-3);
    }
  }
}
