.map-api-call {
  lost-column: 4/5;
  lost-flex-container: row;
  align-items: center;
  margin-top: 5px;
  & .label-container {
    lost-column: 1/5 2;
    text-align: right;
    & label {
      text-transform: uppercase;
      color: var(--gray-dark);
      font-size: 13px;
      font-family: var(--font-family-text);
      line-height: 1em;
    }
  }
  & .input-container {
    lost-column: 4/5 2;
    & input {
      height: 32px;
      width: 100%;
      font-family: var(--font-family-text);
      background-color: var(--snow);
      text-align: center;
      padding: 5px;
      font-size: 11px;
      border: 1px solid var(--gray-light);
      color: var(--gray-dark);
    }
  }
}
