.map-content {
	lost-flex-container: row;
	//justify-content: center;
	& .d3plus-ColorScale-axis {
		//lost-column: 1/5 2;
		//background-color: var(--snow);
		background-color: transparent;
		padding: calc(var(--gutter) / 3);
		//border: 1px solid var(--gray-light);
		min-height: calc(90vh - 150px);
		& .d3plus-Line-shape path {
			stroke: var(--snow);
		}
		& .d3plus-Rect-shape {
			& rect.d3plus-Shape {
				stroke: var(--snow)!important;
			}
		}
		& .ticks {
			& .d3plus-Line-shape path {
				stroke: var(--snow);
			}
			& .d3plus-Line-text text {
				fill: var(--snow);
				opacity: 1;
			}
		}
	}
	& .map-render {
		lost-column: 1 2;
		//lost-column: 4/5 2;
		&.no-data {
			lost-column: 1 2;
		}
		& .no-data-available {
			color: #ffffff;
		}
	}
	& > svg,
	& .d3plus-geomap {
		display: block;
		min-height: calc(90vh - 150px);
		max-width: 100%;
	}
	& .d3plus-geomap-control {
		left: auto !important;
		right: 0 !important;

		& .zoom-control {
			color: var(--nice-blue) !important;
			border-color: var(--darker-gray) !important;
			background-color: var(--snow) !important;
			opacity: 1 !important;
			transition: background-color 0.5s, color 0.5s;
			&:hover {
				background-color: var(--nice-blue) !important;
				color: var(--snow) !important;
			}
		}
	}
}
#d3plus-tooltip-map {
	background-color: var(--snow);
	max-width: 200px;
	height: auto;
	padding: 0px !important;
	& .tooltip-title {
		color: var(--snow);
		padding: calc(var(--gutter) / 3) calc(var(--gutter) / 2);
		font-family: var(--font-family-text);
		text-transform: uppercase;
		font-weight: 300;
		background-image: url("/images/icons/icon-geo-white.svg");
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 30px;
		& p {
			font-size: 12px;
			margin: 0px;
			&.type {
				font-size: 10px;
			}
		}
	}
	& .tooltip-body {
		padding: calc(var(--gutter) / 2);
		& .tooltip-data-title {
			font-family: var(--font-family-text);
			font-size: 10px;
			text-transform: uppercase;
			color: var(--medium-gray);
			letter-spacing: 0.08px;
			font-weight: 700;
		}
		& .tooltip-data-value {
			font-family: var(--font-family-text);
			font-size: 16px;
			letter-spacing: 0.08px;
			font-weight: 700;
		}
	}
}
