@import "../../mixins";

.map-options {
  lost-column: 2/3 2;
  lost-align: right;
  lost-flex-container: row;
  & .map-generated-title {
    @add-mixin font-xs;
    width: 100%;
    text-transform: uppercase;
    color: var(--light-3);
    @add-mixin body-font;
  }
  & .map-options-container {
    lost-flex-container: row;

    & .option {
      @add-mixin font-xxs;
      @add-mixin body-font;
      text-align: center;
      padding: 2px 15px 2px 5px;
      margin-left: 5px;
      text-transform: uppercase;
      width: auto;
      background-color: var(--white);
      transition: background-color 0.5s, color 0.5s;
      border: 1px solid var(--light-2);
      color: var(--light-3);
      display: flex;
      align-items: center;
      & img {
        height: 20px;
        margin-right: 5px;
      }

      & span.text {
        padding-top: 2px;
      }

      &.selected {
        background-color: var(--light-3);
      }

      &:active,
      &:hover {
        text-decoration: none;
        background-color: var(--accent);
        color: var(--white);
      }

      &.disabled {
        background-color: transparent;
        color: var(--light-3);
        cursor: not-allowed;
      }
    }
  }
}
