@import "../../mixins";

.map-sidebar {
  & .option-group {
    & + .option-group {
      margin-top: 1.5em;
    }
    & .option-hierarchy {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 5px;

      & > button {
        flex: 1;
        line-height: 1.5rem;
        @add-mixin heading-font;
        color: #fff;
        background-color: var(--bg-blue);
        border: 0 solid;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
          background-color: #708bbb;
        }
      }
    }
  }
  & .custom-select {
    width: 100%;

    & .current {
      @add-mixin font-xs;
      @add-mixin heading-font;
      line-height: 2.2rem;
      text-transform: uppercase;
      color: var(--snow);
      background-color: var(--bg-blue);
    }

    & .pt-input {
      @add-mixin font-xs;
      @add-mixin heading-font;
      color: var(--snow);
      background-color: var(--bg-blue);
      box-shadow: none;
      border-radius: 0;
      cursor: pointer;
    }

    & .pt-tag {
      background-color: #708bbb;
    }

    & .input-box {
      color: var(--snow);
      font-family: inherit;
      text-transform: uppercase;

      &::-webkit-input-placeholder {
        color: #999;
      }
    }
  }

  & .show-more-selectors {
    display: block;
    width: 100%;
    margin-top: 40px;
    @add-mixin heading-font;
    line-height: 2em;
    color: #fff;
    background-color: #708bbb;
    border: 0 none;
    cursor: pointer;
  }
}

.custom-select {
  & .select-option {
    @add-mixin heading-font;

    & .icon {
      width: 2em;
      margin-right: 0.4em;
    }
  }
}

.pt-popover.custom-select {
  min-width: 240px;

  & .pt-popover-content,
  & .pt-menu {
    padding: 0;
    background-color: #ccc;
  }

  & .select-option {
    line-height: 2rem;
    text-transform: uppercase;
    color: #000;
    background-color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #bbb;
    }

    &.active {
      color: #fff;
      background-color: #708bbb;
    }

    & .icon {
      padding: 0.2em;
      width: 2em;
    }

    & .select-option-label {
      @add-mixin font-xs;
    }
  }
}

.option-group {
  & .option-label {
    @add-mixin font-xs;
    display: block;
    margin: 0.5em 0 0.25em;
    @add-mixin body-font;
    line-height: 1.6em;
    color: var(--snow);
    text-transform: uppercase;
    background: left center/1px no-repeat;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.6em;
      border-radius: 50%;
      background: var(--bg-blue) center/15px no-repeat;
      background-image: inherit;
    }
  }
}
