.map-sidebar {
  & .option-group + .option-group {
    margin-top: 1.5em;
  }
  & .custom-select {
    width: 100%;

    & .current {
      font-family: var(--font-family-title);
      font-size: 13px;
      line-height: 3em;
      text-transform: uppercase;
      color: var(--snow);
      background-color: var(--bg-blue);
    }
  }
}

.custom-select {
  & .select-option {
    font-family: var(--font-family-title);

    & .icon {
      width: 2em;
      margin-right: 0.4em;
    }
  }
}

.pt-popover.custom-select {
  min-width: 240px;

  & .pt-popover-content {
    padding: 0;
    background-color: #ccc;
  }

  & .select-option {
    line-height: 2rem;
    text-transform: uppercase;
    color: #000;
    background-color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #bbb;
    }

    &.active {
      color: #fff;
      background-color: #708bbb;
    }

    & .icon {
      padding: 0.2em;
      width: 2em;
    }

    & .select-option-label {
      font-size: 12px;
      letter-spacing: 0.5px;
    }
  }
}

.option-group {
  & .option-label {
    display: block;
    margin: 0.5em 0;
    font-family: var(--font-family-text);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--snow);
    text-transform: uppercase;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.6em;
      border-radius: 50%;
      background: var(--bg-blue);
    }
  }
}
