@import "../../mixins";

.map-year-selector {
  lost-column: 1/5;
  lost-align: left;
  margin: 5px 0;
  & .select-component {
    @add-mixin font-xxs;
    width: 100%;
    @add-mixin body-font;
    background-color: var(--white);
    text-align: center;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;
    border: 1px solid var(--light-2);
    color: var(--light-3);
    & select {
      width: 100%;
      color: var(--light-3);
      text-align: center;
      padding: 0;
      background-image: url("/images/profile-icon/icon-arrow-mini-gray.svg");
      & .option {
        text-align: center;
      }
    }
  }
}
